<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>eventCalendar</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> 
        
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script> -->


        <!-- fullcalendar -->
        <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.min.css' rel='stylesheet' />
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.min.js"></script>  
        <!-- fullcalendar 언어 CDN -->  
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/locales-all.min.js'></script>
        <!-- sweetalert CDN -->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <!-- 모달 사용 위한 cdn -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.bundle.min.js" ></script>
        <!-- sweetalert cdn -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script> -->
        
        <script type="text/javascript">
           document.addEventListener('DOMContentLoaded', function () {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    themeSystem: 'bootstrap5',
                    timeZone: 'UTC',
                    initialView: 'dayGridMonth',
                    height: '800px', 
                    eventClick: function(info){
                        var eventObj = info.event;
                    
                        console.log(eventObj.extendedProps);
                        
                            if(eventObj.extendedProps.class == "pc2022"){
                                $('#calendar_event').modal('show');    
                            }
                            else if(eventObj.extendedProps.class == "jj2022"){
                                $('#calendar_event2').modal('show')
                            }
                            else if(eventObj.extendedProps.class == "gy2022"){
                                $('#calendar_event3').modal('show')
                            }
                            else if(eventObj.extendedProps.class == "gj2022"){
                                $('#calendar_event4').modal('show')
                            }
                            else if(eventObj.extendedProps.class == "sd2022"){
                                $('#calendar_event5').modal('show')
                            }
                            else if(eventObj.extendedProps.class == "geo2022"){
                                $('#calendar_event6').modal('show')
                            }
                            else if(eventObj.extendedProps.class == "jeju2022"){
                                $('#calendar_event7').modal('show')
                            }
                            else if(eventObj.extendedProps.class == "namhae2022"){
                                $('#calendar_event8').modal('show')
                            }




                            // $('#calendar_event').modal('show');                       
                    },
                            // alert('CLicked on ' + eventObj.start); <클릭시 나오게 할 수 있는 창>

                    events: [
                    {  
                        class :'pc2022',
                        title: "평창 '한여름밤의 맥주 한 잔' 알펜시아 비어가든",
                        fee : "대인 35,000원, 소인 9,000원",
                        about : "국산생맥주 무제한 & 안주 그리고 라이브 공연!(키즈코너 & 샐러드 코너 운영)",
                        place:"휘닉스평창 포레스트파크 잔디광장",
                        link : "https://phoenixhnr.co.kr/static/pyeongchang/eating/special/beer-garden",
                        textColor : "black",
                        color: "#ffc600",           
                        start: '2022-07-22 00:00:00',            
                        end: '2022-08-31 24:00:00'                     
                    },
                    {            
                        class : 'jj2022',  
                        title: '전주 가맥축제',
                        place:"bexco 야외광장",
                        fee : "입장료 무료&수제맥주 및 안주 별도구입",
                        about : "가맥문화를 만나고, 오늘 만든 맥주를 오늘 마실 수 있는 유일한 축제",
                        link :"http://www.gamaek.co.kr/",           
                        start: '2022-08-11',            
                        end: '2022-08-13',
                        textColor : "black",
                        color: "#fcf0c7"
                        // color : '#C4B73B',
                                                 
                    },      
                    {    
                        class : 'gy2022',        
                        title: '2022 고양 프리미엄 맥주축제',
                        place:"일산 고양꽃전시관",
                        fee : "1일권 20,000원 /전일권 90,000원",
                        about : "시원한 맥주 그리고 다채로운 장르의 공연",
                        link :"https://beer-festival.kr/",           
                        start: '2022-08-17',            
                        end: '2022-08-21',
                        textColor : "black",
                        color: "#fbe79f"
                        // color: '#6B9900',
                                 
                    },      
                    {   class : 'gj2022',         
                        title: '2022 광주 Beer Fest',
                        place:"김대중컨벤션센터 야외광장",
                        fee : "입장료 무료",
                        about : "여름 더위를 물리쳐줄 맥주는 기본, 다양한 먹거리와 광주 대표 음식",
                        link :"http://www.beerfestgwangju.com/#",            
                        start: '2022-08-31',            
                        end: '2022-09-05',
                        textColor : "black",
                        color: "#fde07d"
                                  
                    },      
                    {     
                        class : 'sd2022',       
                        title: '2022 송도 맥주축제',
                        place:"송도달빛축제공원",
                        fee : "현장발권 20만원 / 사전예매시 15만원(본인포함 6인 입장기준)",
                        about : "무제한 맥주과 다채로운 공연",
                        link :"http://www.songdobeer.com/beer/",
                        textColor : "black",               
                        start: '2022-08-26',
                        end: '2022-09-03',
                        color: "#fed752"  
                                
                    },
                    {
                        class : 'geo2022',
                        title: '2022 거제 비어페스타',
                        place:"장승포동 수변공원",
                        fee : "현장발권 10,000원 /사전예매시 9,000원",
                        about : "생맥주 무제한 그리고 초청공연",
                        link :"https://2022gbf.modoo.at/",
                        start: '2022-08-17',
                        end: '2022-08-20',
                        textColor : "black",
                        color: "#ffd33c"
                        // color: '#F29661',
                        
                    },
                    {
                        class : 'jeju2022',
                        title: '2022 제주 한잔우리술페스티벌',
                        place: "세화리 질그랭이센터",
                        fee : "링크 참조",
                        about : "각양각색의 우리술, 플리마켓, 그리고 공연",
                        link : "https://m.visitjeju.net/kr/detail/view?contentsid=CNTS_200000000013707",
                        start: '2022-08-20',
                        end: '2022-08-20',
                        color: "#ffe079",
                        // color: '#FFB2F5',
                        textColor : 'black'
                        
                    },
                    {
                        class : 'namhae2022',
                        title: '2022 남해 제10회 독일마을 맥주축제',
                        place: "남해 독일마을",
                        fee : "링크 참조",
                        about : "맥주와 함께 즐기는 유럽문화 공연, 옥토버나이트",
                        link : "https://www.namhae.go.kr/tour/00009/00953.web?amode=view&idx=19",
                        start: '2022-09-30',
                        end: '2022-10-03',
                        // end 원래 2일까진데 3일로 해야 2일로 먹어짐..
                        color: "#ffe079",
                        // color: '#FFB2F5',
                        textColor : 'black'
                        
                    }
                        
                    ], 
                    headerToolbar: {
                        left: 'prev,next today',          
                        center: 'title',          
                        right: 'dayGridMonth,listWeek'
                        // timeGridWeek,timeGridDay > 주단위 일단위 시간표 보려면 사용할것
                    },
                    editable: false, // true로 변경 시 draggable 작동 o 
                    displayEventTime: false // 시간 표시 x
                });
                calendar.render();
            });
            $( document ).ready( function() {
                $(".fc-today-button").addClass('diabled');
                $(".fc-prev-button span").text('prev'); 
                $(".fc-next-button span").text('next'); 
                $("#calendarBox").css('border-spacing', '0px');
                $("#calendarBox").css('border-collapse', 'collapse')
                // $(".fc-dayGridMonth-button").text('월단위');
                // $(".fc-listWeek-button").text('모아보기');
            })
            

        </script>
        <style>
            html, body {    
            overflow: auto;    
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;    
            font-size: 15px;
            border-spacing: 0px 0px !important;
            border-collapse: collapse !important;
            } 
            #calendarBox{
                width: 80%;
                padding:0%;
                margin-left: 10%;
                margin-right: 10%;
                margin-top: 20px;
                /* border: 0.3 solid black; */

            }
            #calendar .fc-day-sun{
            color: red;
            }
            #calendar .fc-day-sat{
            color: blue;
            }
            .fc-prev-button, .fc-next-button, .fc-today-button, .disabled, .fc-dayGridMonth-button, .fc-listWeek-button, .btn-secondary{
                background-color : #ffc600 !important;
                border-color: black !important;
                color : black !important;
                font-weight: 700;
            }
            .fc-prev-button, .fc-next-button, .fc-today-button{
                block-size: 20px;
                height: auto;
        
            }

            @media screen and (max-width:700px){
                #calendarBox{
                    width: 95%;
                    padding:0%;
                    margin: auto;
                    margin-top: 20px !important;
                }
                .hidden{
                    width: auto !important;
                }
            }


            .fc-daygrid, .fc-daygrid-day-frame, .fc-col-header, .fc-scrollgrid-sync-inner, .fc-header-toolbar{
                border: 1px solid black !important;
                border-spacing: 0px 0px !important;
                border-collapse: collapse !important;
            }
            .fc-header-toolbar {
                background-color: black;
                margin-bottom:0 !important;
            }
            .fc-toolbar-chunck{
                padding-top: 0 !important;
            }
            .fc-event-title{
                font-weight: bold;
            }
            .fc-col-header-cell-cushion{
                padding : 0px !important;
            }
            .buttonCal{
                margin-top: 40px !important;
                margin: auto;
                text-align: center;
                align-items: center !important;
                background-color: #ffc600;
                font-weight: 700;
                border: 0;
                width: 100px;
                height: 40px;
                color: #fff;
                font-size: 15px;
                border-radius: 20px;
                padding: 2px 10px;
                font-family: 'Noto Sans', sans-serif;
                display:block;
            }
            .hidden {
                background-color: #fffae9;
                text-align: center;
                align-items: center;
                width: 500px;
                height: 130px;
                overflow: hidden;
                font-size: 15px;
                transition: 2s;
                margin: auto;
                align-self: center;
                font-family: 'Noto Sans', sans-serif;
            }
            .modal-header, .fc-toolbar-title, .modal-footer{
                background-color: black;
                color: #ffc600;
            }
        </style>
    </head>
    <body>
    <div class="aboutCal"><button class="buttonCal">ABOUT</button></div>
    <br>
    <div class="hidden" style="height: 0">
    <br>
    BEER MODE는 여러분이 더 다양한 장소에서,
    더 폭넓게 맥주를 즐기도록
    <br>
    맥주 관련 행사 일정을 제공합니다.
    <br>
    <b>캘린더 내 행사명을 누르면 세부정보를 보실 수 있습니다.</b>
    </div>
        <div id="calendarBox">
            <div id="calendar"></div>
        </div>
        <!-- Modal1-평창 -->
    <div class="modal fade" id="calendar_event" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>more in detail</b></h5>
                    <button type="button" class="btn btn-first" data-bs-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <b>행사명</b> : 평창 '한여름밤의 맥주 한 잔' 알펜시아 비어가든 <br>
                    <b>장소</b> : 휘닉스평창 포레스트파크 잔디광장 <br>
                    <b>행사내용</b> : 국산생맥주 무제한 & 안주 그리고 라이브 공연!(키즈코너 & 샐러드 코너 운영)  <br>
                    <b>참가비</b> : 대인 35,000원 / 소인 9,000원 <br>
                    <a href="https://phoenixhnr.co.kr/static/pyeongchang/eating/special/beer-garden" target="_blank">관련링크</a> <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
        <!-- Modal2-부산 -->
    <div class="modal fade" id="calendar_event2" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>more in detail</b></h5>
                    <button type="button" class="btn btn-first" data-bs-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <b>행사명</b> : 2022 전주 가맥축제 <br>
                    <b>장소</b> : 전주 종합경기장 내 야구장 <br>
                    <b>행사내용</b> : 가맥문화를 만나고, 오늘 만든 맥주를 오늘 마실 수 있는 유일한 축제<br>
                    <b>참가비</b> : 입장료 1,000원(환경부담금)&수제맥주 및 안주 별도구입<br>
                    <a href="http://www.gamaek.co.kr/" target="_blank">관련링크</a> <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
        <!-- Modal3-고양 -->    
    <div class="modal fade" id="calendar_event3" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>more in detail</b></h5>
                    <button type="button" class="btn btn-first" data-bs-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <b>행사명</b> : 2022 고양 프리미엄 맥주축제<br>
                    <b>장소</b> : 일산 고양꽃전시관<br>
                    <b>행사내용</b> : 시원한 맥주, 다채로운 공연(G-PARK, KCM, 정상수 등)<br>
                    <b>참가비</b> : 1일권 20,000원 / 전일권 90,000원<br>
                    <a href="https://beer-festival.kr" target="_blank">관련링크</a> <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
        <!-- Modal4-광주 -->   
    <div class="modal fade" id="calendar_event4" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>more in detail</b></h5>
                    <button type="button" class="btn btn-first" data-bs-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <b>행사명</b> : 2022 광주 Beer Fest<br>
                    <b>장소</b> : 김대중컨벤션센터 야외광장<br>
                    <b>행사내용</b> : 여름 더위를 물리쳐줄 맥주, 다양한 먹거리, 광주 대표 음식<br>
                    <b>참가비</b> : 입장료 무료<br>
                    <a href="http://www.beerfestgwangju.com/#" target="_blank">관련링크</a> <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
        <!-- Modal5-송도 -->       
    <div class="modal fade" id="calendar_event5" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>more in detail</b></h5>
                    <button type="button" class="btn btn-first" data-bs-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <b>행사명</b> : 2022 송도 맥주축제 <br>
                    <b>장소</b> : 송도달빛축제공원<br>
                    <b>행사내용</b> : 무제한 맥주과 다채로운 공연(울랄라세션,한해,미란이 등)<br>
                    <b>참가비</b> : 현장발권 20만원 / 사전예매 15만원(본인포함 6인 입장기준)<br>
                    <a href="http://www.songdobeer.com/beer/" target="_blank">관련링크</a> <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
            <!-- Modal6-거제 -->       
    <div class="modal fade" id="calendar_event6" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>more in detail</b></h5>
                    <button type="button" class="btn btn-first" data-bs-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <b>행사명</b> : 2022 거제 비어페스타<br>
                    <b>장소</b> : 장승포동 수변공원<br>
                    <b>행사내용</b> : 생맥주 무제한 그리고 초청공연<br>
                    <b>참가비</b> : 현장발권 10,000원 / 사전예매시 9,000원<br>
                    <a href="https://2022gbf.modoo.at/" target="_blank">관련링크</a> <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
            <!-- Modal7-제주 -->       
    <div class="modal fade" id="calendar_event7" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>more in detail</b></h5>
                    <button type="button" class="btn btn-first" data-bs-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <b>행사명</b> : 2022 제주 한잔우리술페스티벌<br>
                    <b>장소</b> : 세화리 질그랭이센터<br>
                    <b>행사내용</b> : 각양각색의 우리술, 플리마켓, 그리고 공연<br>
                    <b>참가비</b> : 링크 참조<br>
                    <a href="https://m.visitjeju.net/kr/detail/view?contentsid=CNTS_200000000013707" target="_blank">관련링크</a> <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
            <!-- Modal8-남해 -->       
    <div class="modal fade" id="calendar_event8" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>more in detail</b></h5>
                    <button type="button" class="btn btn-first" data-bs-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <b>행사명</b> : 2022 남해 제10회 독일마을 맥주축제<br>
                    <b>장소</b> : 남해 독일마을<br>
                    <b>행사내용</b> : 맥주와 함께 즐기는 유럽문화 공연, 옥토버나이트<br>
                    <b>참가비</b> : 무료(일부 유료) <br>
                    <a href="https://www.namhae.go.kr/tour/00009/00953.web?amode=view&idx=19" target="_blank">관련링크</a> <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(".buttonCal").click(function () {
        var height = $(".hidden").css("height");
        if (height == "0px") {
          $(".hidden").css("height", "130px")
        }
        else if (height == "130px") {
          $(".hidden").css("height", "0px")
        }
      })
      
    </script>
    <script src="https://cdn.jsdelivr.nenpm/bootstrap@5.2.0/dist/js/bootstrabundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jXa"
    crossorigin="anonymous"></script>

    </body>
</html>