<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

<style>
  .foot {
    text-align: center;
    align-items: center;
    margin: auto;
    padding: auto;
    font-size: 11px;
    display: table-cell;
    vertical-align: middle;
    color: black;
  }

  .footbg {
    width: 100%;
    height: 100px;
    align-items: center;
    display: table;
  }

</style>
<footer id="footer">
  <div class="footbg">
    <div class="foot">
      <div style="font-weight: 500;"><i class="fa fa-globe fa-lg" aria-hidden="true" style="padding: 5px;"></i>Contact
        us : beermode@naver.com ㅣ <i class="fa fa-instagram fa-lg" aria-hidden="true"></i><i
          class="fa fa-facebook-square fa-lg" aria-hidden="true" style="padding: 5px;"></i></div>
      <div style="font-weight: 700;"> ©2022 KDT 2nd Project / 비워 모두, BEER MODE</div>
    </div>
  </div>
</footer>