<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>비워 모두, BEER MODE!</title>
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <style>
    a {
      font-family: Arial, Helvetica, sans-serif;
    }
  </style>
</head>

<body>
  <%-include("navbar.ejs")%>
    <br>
    <a style="text-align: center; vertical-align: middle; font-weight: 900; font-size: larger;">
      <div>MAKE MOOD,</div>
      <div style="color: #ffc600; text-align: center; vertical-align: middle;">BEER MODE.
    </a></div>
    <br>
    <div class="container-fluid" display="block" id="image2" style="padding: 0px;">
        <div class="row justify-content-center">
          <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
            <img src="/static/img/beerinfo.png" style="width: 100%;">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
            <img src="/static/img/aleinfo.png" style="width: 100%;">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
            <img src="/static/img/lagerinfo.png" style="width: 100%;">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
            <img src="/static/img/like.png" style="width: 100%;">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
            <img src="/static/img/anju.png" style="width: 100%;">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
            <img src="/static/img/safe.png" style="width: 100%;">
          </div>
        </div>
      </div>
    <br>
    <br>
    <%-include("footer.ejs")%>

      <script>

        $(".button1").click(function () {
          var height = $(".hidden").css("height");

          if (height == "0px") {
            $(".hidden").css("height", "300px")
          }

          else if (height == "300px") {
            $(".hidden").css("height", "0px")
          }
        })
      </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>