<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>비워 모두, BEER MODE!</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <style>

        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
        a {font-family:Arial, Helvetica, sans-serif;}

        .button1 {text-align:center;
                align-items: center;
                background-color: #ffc600;
                font-weight: 700;
                border: 0;
                width: 100px;
                height: 40px;
                color: #fff;
                font-size: 15px;
                border-radius:20px;
                padding:2px 10px;
                font-family: 'Noto Sans', sans-serif;}

        .button1.hover {text-align:center;
                align-items: center;
                background-color: #e38030;
                font-weight: 700;
                border: 0;
                width: 100px;
                height: 40px;
                color: #fff;
                font-size: 15px;
                border-radius:20px;
                padding:2px 10px;
                font-family: 'Noto Sans', sans-serif;}

        .weare {
          text-align: center;
        }

        .hidden {
                background-color: #fffae9;
                text-align: center;
                align-items: center;
                width: 700px;
                height: 300px;
                overflow: hidden;
                font-size: 15px;
                transition: 2s;
                margin: auto;
                align-self: center;
                font-family: 'Noto Sans', sans-serif;
            }
     
            @media screen and (max-width:700px) {
               .hidden{
                background-color: #fffae9;
                text-align: center;
                align-items: center;
                margin: auto;
                font-size: 14px;
                width: 100%;
                height: 300px;
                overflow: hidden;
                transition: 1s;
                font-family: 'Noto Sans', sans-serif;
               } 
               .write{
                text-align: center;
                align-items: center;
                margin: auto;
               }
            }

            .foot {
              text-align: center;
              align-items: center;
              margin: auto;
              font-size: 10px;
            }

            .btn_top {
            position: fixed;
           bottom: 50px;
            right: 50px;
            background-color: black;
            color: #fff;
            border: 0px;
            outline: 0px;
            width: 45px;
            height: 45px;
            cursor: pointer;
            display: none;
            border-radius: 50;
            }

          .arrow_up {
            width: 15px;
            margin-bottom: 2px;
          }

          .navbar-toggler {
                border-color: #8c8c8c;

            } 

    </style>
</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #050505;">
        <div class="container-fluid">
            <img src="/static/img/logo4.png" alt="" width="75" height="30" class="d-inline-block align-text-top" padding-left="5px">
          <a class="navbar-brand" href="main.html" style="color: #ffc600;" ><strong>　BEER MODE </strong></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/" style="color: white;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="diary.html" style="color: white;">one</a>
                <li class="nav-item">
                  <a class="nav-link" href="diary.html" style="color: white;">two</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="color: white;" aria-expanded="false">
                  three
                </a>
                <ul class="dropdown-menu" style="color: white;">
                  <li><a class="dropdown-item" href="profile.html">PROFILE</a></li>
                  <li><a class="dropdown-item" href="">BLOG</a></li>
                  <li><a class="dropdown-item" href="ilike.html">I LIKE</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/img/beermode1.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/img/beermode2.PNG" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/img/beermode3.PNG" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <br>
      <div class="weare"><button class="button1">WE ARE</button></div>
      <br>
      <div class="hidden">
        <br>
        <br>
        <br>
        가볍게 맥주 한잔을 즐기는 사람은 많지만, 
        <br>
        자세히 뭘 마시는지 알고 마시는 사람은 적습니다.
        <br>
        그래서 우리는 세상에 존재하는 
        <br>
        다양한 맥주에 관한 정보를 제공하고자 합니다.
        <br>
        BEER MODE는 맥주의 종류, 원산지, 도수, 판매가격, 
        <br>
        지역특색 맥주, 맥주 축제 등의 정보를 제공하며
        <br>
        마셔본 경험에 대한 리뷰를 공유할 수 있는
        <br>
        다양한 정보 공유의 장입니다.
        <br>
        <br>
    </div>
      <br>
      <br>
      <br>
      <div class="foot"> ©2022 KDT 2nd Project / 비워 모두, BEER MODE </div>
      <br>
      <div>
      <button id="btnTop" class="btn_top" type="button">
        <img class="arrow_up" src="/static/img/arrow.png" alt="arrow_up">
      </button>
      </div>

      <script> 

      $(".button1").click(function(){ 
            var height = $(".hidden").css("height");

            if(height == "0px"){
                $(".hidden").css("height","300px")
            }

            else if(height == "300px"){
                $(".hidden").css("height","0px")
            }
       })

       $(window).scroll(function() {
        if ($(this).scrollTop() > 300) {
        $('#btnTop').show();
        } else {
        $('#btnTop').hide();
        }
        });

        $('#btnTop').on('click', e => {
        window.scrollTo({top:0, left:0, behavior:'smooth'});
        });

      
      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>