<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>my page</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.png" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
  <link rel="stylesheet" href="/static/css/mypage.css">

  <style></style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #050505">
    <div class="container-fluid">
      <img src="/static/img/logo4.png" alt="" width="75" height="30" class="d-inline-block align-text-top"
        padding-left="5px" />
      <a class="navbar-brand" href="/main" style="color: #ffc600"><strong>　BEER MODE </strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/main" style="color: white">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="diary.html" style="color: white">one</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="diary.html" style="color: white">two</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="color: white"
              aria-expanded="false">
              three
            </a>
            <ul class="dropdown-menu" style="color: white">
              <li>
                <a class="dropdown-item" href="profile.html">PROFILE</a>
              </li>
              <li><a class="dropdown-item" href="">BLOG</a></li>
              <li><a class="dropdown-item" href="/mypage">USER page</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <br />

  <div class="container centerLayout">
    <div id="traceHead" class="row justify-content-between">
      <div class="col-1 traceTitle">지금까지의 beer 궤적</div>
      <div class="col-1 traceButton">
        <a class="btn btn-primary" href="#" role="button">Link</a>
      </div>
    </div>

    <!-- S: 카드 형태 컨버젼 -->
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card mb-3" style="max-width: 450px">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/static/img/Heineken sample img.jpg" class="img-fluid rounded-start" alt="..." />
              <div class="col text-center"><a>Heineken</a></div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">★★★★☆</h5>
                <p class="card-text">
                  Praesent luctus egestas nisl, vitae vehicula eros rhoncus vel.
                  Phasellus consequat arcu eu neque convallis eu vulputate diam
                  vehicula.
                </p>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 450px">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/static/img/Hoegaarden Rosee sample img.jpg" class="img-fluid rounded-start" alt="..." />
              <div class="col text-center"><a>Hoegaarden Rosee</a></div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">★★★★★</h5>
                <p class="card-text">
                  Praesent luctus egestas nisl, vitae vehicula eros rhoncus vel.
                  Phasellus consequat arcu eu neque convallis eu vulputate diam
                  vehicula.
                </p>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 450px">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/static/img/Heineken sample img.jpg" class="img-fluid rounded-start" alt="..." />
              <div class="col text-center"><a>Heineken</a></div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">★★★★☆</h5>
                <p class="card-text">
                  Praesent luctus egestas nisl, vitae vehicula eros rhoncus vel.
                  Phasellus consequat arcu eu neque convallis eu vulputate diam
                  vehicula.
                </p>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 450px">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/static/img/Heineken sample img.jpg" class="img-fluid rounded-start" alt="..." />
              <div class="col text-center"><a>Heineken</a></div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">★★★★☆</h5>
                <p class="card-text">
                  Praesent luctus egestas nisl, vitae vehicula eros rhoncus vel.
                  Phasellus consequat arcu eu neque convallis eu vulputate diam
                  vehicula.
                </p>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="/static/img/Heineken sample img.jpg" class="card-img-top" alt="img-thumbnail" />
          <div class="card-body">
            <h5 class="card-title">★★★★☆</h5>
            <p class="card-text">
              Praesent luctus egestas nisl, vitae vehicula eros rhoncus vel.
              Phasellus consequat arcu eu neque convallis eu vulputate diam
              vehicula.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="/static/img/Heineken sample img.jpg" class="card-img-top" alt="img-thumbnail" />
          <div class="card-body">
            <div class="col text-center"><a>Heineken</a></div>
            <h5 class="card-title text-center">★★★★☆</h5>
            <p class="card-text">
              Praesent luctus egestas nisl, vitae vehicula eros rhoncus vel.
              Phasellus consequat arcu eu neque convallis eu vulputate diam
              vehicula.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="/static/img/Hoegaarden Rosee sample img.jpg" class="card-img-top" alt="img-thumbnail" />
          <div class="card-body">
            <div class="col text-center"><a>Hoegaarden Rosee</a></div>
            <h5 class="card-title text-center">★★★★☆</h5>
            <p class="card-text">
              Praesent luctus egestas nisl, vitae vehicula eros rhoncus vel.
              Phasellus consequat arcu eu neque convallis eu vulputate diam
              vehicula.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="/static/img/Hoegaarden Rosee sample img.jpg" class="card-img-top" alt="img-thumbnail" />
          <div class="card-body">
            <div class="col text-center"><a>Hoegaarden Rosee</a></div>
            <h5 class="card-title text-center">★★★★☆</h5>
            <p class="card-text">
              Praesent luctus egestas nisl, vitae vehicula eros rhoncus vel.
              Phasellus consequat arcu eu neque convallis eu vulputate diam
              vehicula.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <br />
  <div class="foot">©2022 KDT 2nd Project / 비워 모두, BEER MODE</div>
  <br />

  <div>
    <button id="btnTop" class="btn_top" type="button">
      <img class="arrow_up" src="/static/img/arrow.png" alt="arrow_up" />
    </button>
  </div>

  <script>
    $(window).scroll(function () {
      if ($(this).scrollTop() > 300) {
        $("#btnTop").show();
      } else {
        $("#btnTop").hide();
      }
    });

    $("#btnTop").on("click", (e) => {
      window.scrollTo({ top: 0, left: 0, behavior: "smooth" });
    });
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
</body>

</html>