<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.0.min.js" ></script>
        <style>
            .select:hover, .select_country:hover{
                cursor:pointer;
            }
            .col.row{
                height:0;
                overflow-y: hidden;
                cursor: auto;
                transition:0.1s;
            }
            .select{
              font-weight: 600;
              color: brown;
            }
            .select_country{
              font-weight:400;
              color: blue;
            }
            .content{
              font-weight: 100;
              color: coral;
            }
            .beerimg{
              display:flex;
            }
            .container{
              padding: 0;
            }
            .select, .contet{
              /* text-align: center; */
              justify-content: center;
            }
            img{
              height: 200px;
            }
            .card-body{
              padding-left: 0;
              padding-right: 0;
            }
        </style>
    </head>
    <body>
        <div class="container">
          <div class="row">
            <div class="select col-1">국내 맥주</div>
            <div class="col row">
              <div class="content col-3">
                  <div>하이트 엑스트라 콜드(hite EXTRA COLD)</div>
                  <div>맥스(Max)</div>
                  <div>드라이 d</div>
                  <div>하이트 스타우트(BLACK stout)</div>
                  <div>퀸즈 에일(QUEEN'S ALE)</div>
                  <div>테라(TERRA)</div>
                  <div>더 프리미어 OB</div>
                  <div>카스(Cass)</div>
                  <div>카프리</div>
                  <div>한맥(HANMAC)</div>
                  <div>클라우드(Kloud)</div>
                  <div>피츠 수퍼 클리어(Fitz Super Clear)</div>
              </div>
              <div class="beerimg col-9 row">
                <div class="col-3 card" style="width: 10rem;">
                  <img src="/static/img/hiteextracold.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title">하이트 엑스트라 콜드(hite EXTRA COLD)</h6>
                  </div>
                </div>
                <div class="col-3 card" style="width: 10rem;">
                  <img src="/static/img/Max.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title">맥스(Max)</h6>
                  </div>
                </div>
                <div class="col-3 card" style="width: 10rem;">
                  <img src="/static/img/dryd.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title">드라이 d</h6>
                  </div>
                </div>
                <div class="col-3 card" style="width: 10rem;">
                  <img src="/static/img/stout.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title">하이트 스타우트(BLACK stout)</h6>
                  </div>
                </div>
                <div class="col-3 card" style="width: 10rem;">
                  <img src="/static/img/queensale.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title">퀸즈 에일(QUEEN'S ALE)</h6>
                  </div>
                </div>
                <div class="col-3 card" style="width: 10rem;">
                  <img src="/static/img/terra.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title">테라(TERRA)</h6>
                  </div>
                </div>
                <div class="col-3 card" style="width: 10rem;">
                  <img src="/static/img/preOB.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title">더 프리미어 OB</h6>
                  </div>
                </div>
                <div class="col-3 card" style="width: 10rem;">
                  <img src="/static/img/cass.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title">카스(Cass)</h6>
                  </div>
                </div>
                <div class="col-3 card" style="width: 10rem;">
                  <img src="/static/img/cafri.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title">카프리(Cafri)</h6>
                  </div>
                </div>
                <div class="col-3 card" style="width: 10rem;">
                  <img src="/static/img/hanmac.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title">한맥(HANMAC)</h6>
                  </div>
                </div>
                <div class="col-3 card" style="width: 10rem;">
                  <img src="/static/img/kloud.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title">클라우드(Kloud)</h6>
                  </div>
                </div>
                <div class="col-3 card" style="width: 10rem;">
                  <img src="/static/img/fitz.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title">피츠 수퍼 클리어(Fitz Super Clear)</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="select col-1">수입 맥주</div>
            <div class="col row">
              <div class="content col-1">
                <div class="select select_country">독일</div>
                <div class="select select_country">체코</div>
                <div class="select select_country">벨기에</div>
                <div class="select select_country">네덜란드</div>
                <div class="select select_country">아일랜드</div>
                <div class="select select_country">영국</div>
                <div class="select select_country">덴마크</div>
                <div class="select select_country">러시아</div>
                <div class="select select_country">스위스</div>
                <div class="select select_country">스페인</div>
                <div class="select select_country">오스트리아</div>
                <div class="select select_country">아이슬란드</div>
                <div class="select select_country">이탈리아</div>
                <div class="select select_country">포르투갈</div>
                <div class="select select_country">폴란드</div>
                <div class="select select_country">프랑스</div>
                <div class="select select_country">그리스</div>
                <div class="select select_country">크로아티아</div>
                <div class="select select_country">노르웨이</div>
                <div class="select select_country">핀란드</div>
                <div class="select select_country">스웨덴</div>
                <div class="select select_country">미국</div>
                <div class="select select_country">캐나다</div>
                <div class="select select_country">멕시코</div>
                <div class="select select_country">이집트</div>
                <div class="select select_country">북한</div>
                <div class="select select_country">중국</div>
                <div class="select select_country">일본</div>
                <div class="select select_country">대만</div>
                <div class="select select_country">남아시아</div>
                <div class="select select_country">동남아시아</div>
                <div class="select select_country">오세아니아</div>
              </div>
              <div class="write col-2">
                <div class="content">
                  <div>벡스(Beck's)</div>
                  <div>파울라너(Paulaner)</div>
                  <div>바이엔슈테판(Weihenstephan)</div>
                  <div>외팅어(Oettinger)</div>
                  <div>에어딩어(erdinger)</div>
                  <div>크롬바허(Krombacher)</div>
                  <div>바슈타이너(Warsteiner)</div>
                  <div>뢰벤브로이(Löwenbräu)</div>
                  <div>답(DAB)</div>
                  <div>디벨스 알트(Diebels Alt)</div>
                  <div>비트부어거(Bitburger)</div>
                  <div>슈나이더(Schineider)</div>
                  <div>슈무커(Schmucker)</div>
                </div>
                <div class="content">
                  <div>필스너 우르켈(Pilsner Urquell)</div>
                  <div>코젤(Kozel)</div>
                  <div>스타로프라멘(Staropramen)</div>
                </div>
                <div class="content">
                  <div>스텔라 아르투아(Stella Artois)</div>
                  <div>호가든(Hoegaarden)</div>
                  <div>레페(Leffe)</div>
                  <div>듀벨(Duvel)</div>
                  <div>주필러(Jupiler)</div>
                  <div>블랑슈 드 브뤼셀(Blanche De Bruxelles)</div>
                </div>
                <div class="content">
                  <div>하이네켄(Heineken)</div>
                  <div>그롤쉬(Grolsch)</div>
                  <div>데스페라도스(Desperados)</div>
                  <div>로얄 더치(Royal Dutch)</div>
                </div>
                <div class="content">
                  <div>기네스(Guinness)</div>
                  <div>홉 하우스 13 라거(Hop House 13 Lager)</div>
                  <div>킬케니 아이리시 크림 에일(Kilkenny Irish Cream Ale)</div>
                  <div>하프(Harp)</div>
                  <div>머피스(murphys)</div>
                  <div>비미쉬(Beamish)</div>
                </div>
                <div class="content">
                  <div>홉 고블린(HOBGOBdivN)</div>
                  <div>바스(Bass)</div>
                </div>
                <div class="content">
                  <div>칼스버그(Carlsberg)</div>
                  <div>팍세(Faxe)</div>
                </div>
                <div class="content">
                  <div>발티카(Baltika)</div>
                  <div>졸로타야 보치카(Золотоя Бочка Zolotaya Bochka)</div>
                  <div>넵스코예(Nevskoe)</div>
                </div>
                <div class="content">
                  <div>쉬첸가르텐(Schützengarten)</div>
                  <div>펠트슐뢰스헨(Feldschlösschen)</div>
                  <div>루겐브로이(RUGEN BRAU)</div>
                </div>
                <div class="content">
                  <div>에스트레야 담 바르셀로나(Estrella Damm Barcelona)</div>
                  <div>마오우 씽코 에스트레야스(Mahou Cinco Estrellas)</div>
                </div>
                <div class="content">
                  <div>에델바이스 바이스비어 스노우프레시(Edelweiss Weißbier Snowfresh)</div>
                  <div>에거(Egger)</div>
                  <div>지퍼(Zipfer)</div>
                  <div>괴서(Gößer)</div>
                  <div>오타크링거(Ottakringer)</div>
                </div>
                <div class="content">
                  <div>바이킹(Viking)</div>
                  <div>툴레(Thule)</div>
                  <div>걸(GULL)</div>
                </div>
                <div class="content">
                  <div>페로니(Peroni)</div>
                  <div>비라 모레티(Birra Moretti)</div>
                  <div>포르스트(Forst)</div>
                </div>
                <div class="content">
                  <div>수페르복(Super Bock)</div>
                  <div>사그레쉬(Sagres)</div>
                  <div>신트라(CINTRA)</div>
                </div>
                <div class="content">
                  <div>보스만(Bosman)</div>
                  <div>티스키에(Tyskie)</div>
                </div>
                <div class="content">
                  <div>크로낭부르 1664(Kronenbourg 1664)</div>
                  <div>라 구달(La Goudale)</div>
                  <div>리콘(Licorne)</div>
                  <div>1866 블랑쉬(1866 Blanche)</div>
                </div>
                <div class="content">
                  <div>미토스(Mythos)</div>
                  <div>알파(ALFA)</div>
                  <div>픽스(Fix)</div>
                </div>
                <div class="content">
                  <div>오쥬스코(Ozujsko)</div>
                  <div>카를로바츠코(Karlovacko)</div>
                </div>
                <div class="content">
                  <div>링그네스(Ringnes)</div>
                  <div>한자(HANSA)</div>
                  <div>콘라드 스타우트(Konrads Stout)</div>
                </div>
                <div class="content">
                  <div>카르후(KARHU)</div>
                  <div>라핀 쿨타(Lapin Kulta)</div>
                  <div>올비(Olvi)</div>
                </div>
                <div class="content">
                  <div>프립스 블라(Pripps Bla)</div>
                  <div>이케아(IKEA)</div>
                </div>
                <div class="content">
                  <div>버드와이저(Budweiser)</div>
                  <div>롤링락(Roldivng Rock)</div>
                  <div>구스 아일랜드(Goose Island)</div>
                  <div>밀러(Miller)</div>
                  <div>블루 문(Blue Moon)</div>
                  <div>트레디셔널 라거(Traditional Lager)</div>
                  <div>새뮤얼 애덤스(Samuel Adams)</div>
                  <div>시에라 네바다 페일 에일(Sierra Nevada Pale Ale)</div>
                  <div>팻 타이어(Fat Tire)</div>
                  <div>웨스트 코스트 인디아 페일 에일(West Coast IPA)</div>
                  <div>홉 헤드 레드(Hop Head Red)</div>
                  <div>더블 스타우트(Double Stout)</div>
                  <div>라구니타스 IPA(Lagunitas IPA)</div>
                  <div>브루클린 브루어리(Brooklyn Brewery)</div>
                  <div>스트로우즈(Stroh's)</div>
                  <div>로스트 코스트(Lost Coast)</div>
                  <div>괌(Guam)</div>
                </div>
                <div class="content">
                  <div>무스헤드(Moosehead)</div>
                  <div>어퍼 캐나다(Upper Canada)</div>
                  <div>칼링(Carling)</div>
                  <div>아이스버그(iceberg)</div>
                </div>
                <div class="content">
                  <div>코로나(Corona)</div>
                  <div>솔(Sol)</div>
                </div>
                <div class="content">
                  <div>스텔라(Stella)</div>
                  <div>사카라(Sakara)</div>
                  <div>스핑크스(Sphinx)</div>
                </div>
                <div class="content">
                  <div>대동강맥주(Taedonggang)</div>
                  <div>봉학맥주(Ponghak)</div>
                  <div>룡성맥주</div>
                  <div>금강맥주</div>
                  <div>평양맥주(Pyongyang)</div>
                </div>
                <div class="content">
                  <div>칭다오 맥주(青岛啤酒, Tsingtao)</div>
                  <div>하얼빈 맥주(哈尔滨啤酒, Harbin)</div>
                  <div>설화 맥주(雪花啤酒, Snow)</div>
                  <div>옌징(燕京啤酒, Yanjing)</div>
                </div>
                <div class="content">
                  <div>기린 라거 비어(キリンラガービール)</div>
                  <div>아사히 슈퍼 드라이(アサヒスーパードライ, Asahi Super dry)</div>
                  <div>아사히 슈퍼 드라이 블랙(アサヒパードライ ドライブラック, Asahi Super dry black)</div>
                  <div>산토리 프리미엄 몰츠(Suntory the Premium Malts)</div>
                  <div>삿포로(サッポロビール, Sapporo)</div>
                  <div>에비스(ヱビスビール, Yebisu)</div>
                </div>
                <div class="content">
                  <div>대만맥주(Taiwan Beer, 台湾啤酒)</div>
                </div>
                <div class="content">
                  <div>킹피셔(Kingfisher)</div>
                  <div>골든 이글(golden eagle)</div>
                  <div>라이온(Lion)</div>
                </div>
                <div class="content">
                  <div>빈땅(Bintang)</div>
                  <div>스타크(Stark)</div>
                  <div>사이공(SAIGON)</div>
                  <div>하노이(Ha Noi)</div>
                  <div>비어 라오(Beer lao)</div>
                </div>
                <div class="content">
                  <div>포엑스(XXXX)</div>
                  <div>빅토리아 비터(Victoria Bitter)</div>
                </div>
              </div>
              <div class="beerimg col-8 row">
                <div class="col-3 card" style="width: 10rem;">
                  <img src="/static/img/becks.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title">벡스(BECK's)</h6>
                  </div>
                </div>
                <div class="col-3 card" style="width: 10rem;">
                  <img src="/static/img/paul.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title">파울라너</h6>
                  </div>
                </div>
                <div class="col-3 card" style="width: 10rem;">
                  <img src="/static/img/weihen.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title">바이엔슈테판(Weihenstephan)</h6>
                  </div>
                </div>
                <div class="col-3 card" style="width: 10rem;">
                  <img src="/static/img/oetting.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title">외팅어(Oettinger)</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      <script>
        $(".select").click(function(){
            var list_box = $(this).next();
            console.log($(list_box).find(".card")[0]);
            var list = $(list_box).children();
            var list_height = $(".card").height();
            var list_count = list.length;
            var total_heigth = list_count * list_height;
            // console.log(list,list_height,list_count)

            if($(list_box).css("height") == "0px"){
                $(list_box).css("height", total_heigth);
                if($(this).hasClass("select_country")){
                    var parent = $(this).parent();
                    $(parent).css("height", $(parent).height()+total_heigth);
                }
            } else {
                $(list_box).css("height", "0px");
                if($(this).hasClass("select_country")){
                    var parent = $(this).parent();
                    $(parent).css("height", $(parent).height()-total_heigth);
                }
            }
        })
      </script>
      </body>
</html>