.beer__wrapper{
    display: flex;
    flex-wrap: wrap; /*1차원 정렬을 여러 행으로 할 수 있다.*/
    justify-content: left;
    margin: 40px 0 0 200px;
    padding: 10px 0 0 10px;
}
.beer__item{
    width: 20%;
    margin: 0 0 10px 0;
    padding: 0 10px;
    /* background-color: #eaeaea; */
}

.beer__img{
    max-width: 80%;
    margin: 0 0 10px 0;
    height: 200px;
}

.beer__text{
    width: 80%;
}

.beer__text--title{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.beer__text--alchol{
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.beer__text--infor{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

@media screen and (max-width:1200px) {
    .beer__item{
        width: 25%;
    }
    
}
@media screen and (max-width:800px) {
    .select__menu{
        display: none;
    }
    .select__wrapper{
        min-width: 0;
    }
    .beer__wrapper{
        margin: 40px 0 0 70px;
    }
    .beer__item{
        width: 33%;
    }
    .beer__img{
        max-width: 80%;
    }

@media screen and (max-width:390px) {
    .select__menu{
        display: none;
    }
    .select__wrapper{
        min-width: 0;
    }
    .beer__wrapper{
        margin: 40px 0 0 70px;
    }
    .beer__item{
        width: 50%;
    }
    .beer__img{
        max-width: 80%;
    }
}
}