.select__wrapper{
    position: fixed;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    min-height: 90%;
    background-color: #f8f8f8;
    padding: 10px 0 0 0;
}
.select__wrapper li {
    display: flex;
    padding: 10px 16px 10px 16px;
    list-style: square;
}
.select__wrapper ol{
    flex-grow: 1;
    height: 600px;
    overflow-y: scroll;
}

.select__wrapper li:hover{
    background-color: #eaeaea;
}

.select__icon{
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
}

.select__menu{
    border: none;
    background-color: transparent;
    margin: 0 0 0 8px;
    font-size: 1.2rem;
}
.select__country{
    border: none;
    background-color: transparent;
    margin: 0 0 0 8px;
    font-size: 0.95rem;
    padding: 5px 0 0 0;
}


@media screen and (max-width:800px) {
    .select__menu{
        display: none;
    }
    .select__wrapper{
        min-width: 0;
    }
    .select__country{
        display: none;
    }
}
@media screen and (max-height:780px) {
    .select__wrapper ol{
        flex-grow: 1;
        height: 300px;
        overflow-y: scroll;
    }
}