.select__wrapper{
    position: fixed;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    min-height: 90vh;
    background-color: #f8f8f8;
    padding: 10px 0 0 0;
}
.select__wrapper li {
    display: flex;
    padding: 10px 16px 10px 16px;
    list-style: square;
    background-color: #f8f8f8;
}
.select__wrapper ol{
    flex-grow: 1;
    height: 80vh;
    overflow-y: scroll;
}
/* .scrollbar{
    padding-left: 0;
} */

.scrollbar::-webkit-scrollbar{
    width:5px;
}
.scrollbar::-webkit-scrollbar-track{
    border-radius: 4px;
    background-color: black;
}
.scrollbar::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background-color: #ffc600;
}

body::-webkit-scrollbar{
    width:10px;
}
body::-webkit-scrollbar-track{
    border-radius: 5px;
    background-color: #ffc600;
}
body::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: black;
}

.select__wrapper li:hover{
    background-color: #eaeaea;
}

.select__wrapper li.active{
    background-color: #fed752;
}

/* .clickinfo{
    background-color: transparent;
    border: none;
    padding: 0;
    justify-content: right;
} */
.select__icon{
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
}

.select__menu{
    border: none;
    background-color: transparent;
    margin: 0 0 0 8px;
    font-size: 1.2rem;
    font-weight: bold;
}
.select__mobile{
    border: none;
    background-color: transparent;
    margin: 0 0 0 8px;
    font-size: 0.8rem;
    font-weight: 500;
}
.select__country{
    border: none;
    background-color: transparent;
    margin: 0 0 0 8px;
    font-size: 1.15rem;
    padding: 5px 0 0 0;
}

.select__mobile{
    display: none;
}

@media screen and (max-width:800px) {
    .select__menu{
        display: none;
    }
    .select__wrapper{
        min-width: 0;
    }
    .select__country{
        display: none;
    }
}
/* @media screen and (max-height:780px) {
    .select__wrapper ol{
        flex-grow: 1;
        height: 300px;
        overflow-y: scroll;
    }
} */