.select{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.select__wrapper{
    min-width: 200px;
    min-height: 100vh;
    background-color: #f8f8f8;
    padding: 100px 0 0 0;
    list-style: none;
}
.select__wrapper li {
    display: flex;
    padding: 10px 16px 10px;
}

.select__wrapper li:hover{
    background-color: #eaeaea;
}

.select__icon{
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
}

.select__menu{
    border: none;
    background-color: transparent;
    margin: 0 0 0 8px;
    font-size: 1.2rem;
}


@media screen and (max-width:800px) {
    .select__menu{
        display: none;
    }
    .select__wrapper{
        min-width: 0;
    }
}