@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap");
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  /* font-family: 'Noto Sans', sans-serif; */
}

.beer-search, .card-deck  {
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: 'Noto Sans', sans-serif; */
}

.card {
  /* box-shadow: 0px 0px 0px grey; */
  -webkit-transition: box-shadow .4s ease-out;
  /* box-shadow: .8px .9px 3px grey; */
}

.card-shadow {
  -webkit-box-shadow: 1px 8px 20px 14px rgba(232, 232, 232, 1);
  -moz-box-shadow: 1px 8px 20px 14px rgba(232, 232, 232, 1);
  box-shadow: 1px 8px 20px 14px rgba(232, 232, 232, 1);
}

.card:hover {
  box-shadow: 1px 8px 20px grey;
  -webkit-transition: box-shadow .6s ease-in;
}

.card-name,
.card-rating,
.card-comment,
.card-date {
  text-align: center;
}

.card-rating {
  color: #ffc600;
  /* text-decoration: underline rgb(200, 200, 200); */
  
  
}

.card-comment {
  font-style: italic;
  font-weight: 500;
  margin: 0;
}

.card-date {
  margin: 0;
}

#rating-form fieldset{
  /* display: inline-block; */
  direction: rtl;
  border: 0;
}
#rating-form input[type=radio]{
  display: none;
}
#rating-form label{
  font-size: 0.9em;
  letter-spacing: -2px;
  color: transparent;
  text-shadow: 0 0 0 #f0f0f0;
}
#rating-form label:hover{
  text-shadow: 0 0 0 #ffc600;
}
#rating-form label:hover ~ label{
  text-shadow: 0 0 0 #ffc600;
}
#rating-form input[type=radio]:checked ~ label{
  text-shadow: 0 0 0 #ffc600;
}