@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap");

a {
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 700px) {
  .hidden {
    background-color: #fffae9;
    text-align: center;
    align-items: center;
    margin: auto;
    font-size: 14px;
    width: 100%;
    height: 300px;
    overflow: hidden;
    transition: 1s;
    font-family: "Noto Sans", sans-serif;
  }

  .write {
    text-align: center;
    align-items: center;
    margin: auto;
  }
}

.foot {
  text-align: center;
  align-items: center;
  margin: auto;
  font-size: 10px;
}

.btn_top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: black;
  color: #fff;
  border: 0px;
  outline: 0px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  display: none;
  border-radius: 50;
}

.arrow_up {
  width: 15px;
  margin-bottom: 2px;
}

.navbar-toggler {
  border-color: #8c8c8c;
}

thead,
th:first-child {
  text-align: center;
}

table {
  background-color: #fffae9;
}

/* #traceTable {background-color: #fffae9;} */

.centerLayout {
  width: 900px;
}

.traceTitle {
  text-align: center;
  /* align-items: center; */
  background-color: #ffc600;
  font-weight: 700;
  border: 0;
  width: 200px;
  height: 28px;
  color: black;
  font-size: 15px;
  border-radius: 20px;
  padding: 2px 10px;
  font-family: "Noto Sans", sans-serif;
  margin-left: 10px;
}

.traceButton {
  margin-right: 10px;
}

/* .card {
  box-shadow: 0px 0px 0px grey;
  -webkit-transition: box-shadow .4s ease-out;
  box-shadow: .8px .9px 3px grey;
} */

.card:hover {
  box-shadow: 1px 8px 20px grey;
  -webkit-transition: box-shadow .6s ease-in;
}
