<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/guinness.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">기네스 드래프트(Guinness Draught)</h4>
            <p class="beer__text--alchol">도수 : 4.2%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">아일랜드 맥주하면 가장 먼저 떠오르는 맥주이자 세계에서 가장 유명한 흑맥주 중 하나.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/hophouse.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">홉 하우스 13 라거(Hop House 13 Lager)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">볶은 보리가 들어가 쌉싸름한 맛에 살구 향과 복숭아 향이 살짝 나는 것이 대표적인 맥주이다. 배우 하석진이 개인 유튜브에서 추천하는 라거로 언급이 되었다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/kilkenny.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">킬케니 아이리시 크림 에일(Kilkenny Irish Cream Ale)</h4>
            <p class="beer__text--alchol">도수 : 4.3%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">레드 에일 맥주이며 헤드가 풍부하고 오밀조밀해서 진득하면서도 질소로 서빙되며 부드러운 거품을 즐길 수 있다. 기네스맥주처럼 위젯(플라스틱 공)이 들어있어서 따는 순간 거품이 뿜어져 나오니 주의해서 따야한다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/harp.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">하프(Harp)</h4>
            <p class="beer__text--alchol">도수 : 4.5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">흑맥주와 레드 에일이 주류인 아일랜드 맥주들중에서 홉 호스 13 라거와 함께 몆 안되는 라거 맥주이다. 원료에 볶은 보리가 들어가서 맛이 진하고 씁쓸하다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/murphys.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">머피스(murphys)</h4>
            <p class="beer__text--alchol">도수 : 4.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">기네스와 마찬가지로 스타우트 계열의 흑맥주이다. 기네스보다 쓴 맛이 덜하고 향은 짙되 느낌이 좀 투박하다는 평이 있다. 캔 제품에 위젯(플라스틱 공)이 들어있다.</p>
        </div>
    </div>  
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/beamish.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">비미쉬(Beamish)</h4>
            <p class="beer__text--alchol">도수 : 4.2%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">기네스, 머피스와 마찬가지로 스타우트 스타일의 흑맥주이다. 코크나 골웨이의 펍들에서 쉽게 만나볼수 있는 흑맥주로, 기네스 머피스에 비하면 옅은 신맛이 강조된 느낌이고 깔끔한 뒷마무리가 특징인 맥주이다.
            </p>
        </div>
    </div>
</div>