<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/moosehead.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">무스헤드(Moosehead)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">캐나다의 유명 맥주 회사 중 유일하게 순수 캐나다 자본으로 설립된 회사인 무스헤드 사에서 만드는 맥주이다. 맥주 상표에 사슴 머리가 그려져 있으며, 가볍게 마실 수 있는 라거 맥주이다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/uppercanada.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">어퍼 캐나다 라거(Upper Canada Lager)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">어퍼 캐나다 라거는 균형이 잘 잡힌 꿀색의 독일 스타일 라거입니다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/carling.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">칼링(Carling)</h4>
            <p class="beer__text--alchol">도수 : 4.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">FA컵이랑 셀틱의 스폰서로 유명한 캐나다 맥주이며 캐나다 뿐 아니라 캐나다의 구 식민 지배국이었던 영국에서도 수출되어 높은 판매량을 기록하고 있다.이 때문인지 영국 맥주로 착각하는 사람들도 더러 있을 지경.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/iceberg.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">아이스버그(iceberg)</h4>
            <p class="beer__text--alchol">도수 : 4.5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">캐나다 동부 뉴펀들랜드 섬에서 생산하고 있는 라거 맥주. 상표가 물위에 떠있는 빙산 얼음인데 이 곳 바다에는 실제로 많은 빙산이 떠다닌다.</p>
        </div>
    </div>
</div>