<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/taiwan.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">대만맥주(Taiwan Beer, 台湾啤酒)</h4>
            <p class="beer__text--alchol">도수 : 4.5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">일반판 뿐 아니라 프리미엄 판과 과일,벌꿀 맛이 있어 종류가 꽤 많다. 한국에서는 홈플러스, 세븐일레븐에서 수입 판매 중이다. 홈플러스의 경우 파인애플맛, 복숭아맛, 망고맛, 벌꿀맛 맥주가 판매 중이다. 다만, 홈플러스에서 일반판 맥주는 찾기 어려울 수 있다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/lemon.JPG">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">대만 용천맥주 레몬맛</h4>
            <p class="beer__text--alchol">도수 : 2.5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">타이완 용천맥주사에서 제조. 과즙5%함유한 제품. 상큼한 레몬향도 아니고, 그렇다고 맥주향도 아닌 애매하다는 평이 있다. 애매한 향만큼 맛도 밍밍한 편이라고 한다. 그나마 탄산이 강해, 탄산류를 좋아하면 시도해볼 만하다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/peach.JPG">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">대만 용천맥주 복숭아맛</h4>
            <p class="beer__text--alchol">도수 : 2.5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">타이완 용천맥주사에서 제조. 과즙5%함유한 제품. 향은 음료 '2%부족할때'와 유사한데, 같은 맥주의 레몬맛보다는 향이 강한편이다. 맛은 과일맥주라지만, 그냥 복숭아맛 음료라고 생각해도 될 정도라고 한다. '이슬톡톡'이나 '호로요이'와는 또 다른 맛. 다만 김이 빠지면 과일맥주 특유의 밍밍한 맛이 많이 난다고 한다.</p>
        </div>
    </div>
</div>