<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/xxxx.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">포엑스 골드(XXXX GOLD)</h4>
            <p class="beer__text--alchol">도수 : 3.5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">빅토리아 비터(Victoria Bitter, VB)와 함께 호주 맥주 시장을 양분하고 있는 맥주로 국내에선 호주 맥주들중에서 가장 유명한 맥주로 잘 알려져 있지만 정작 본가 호주에서는 빅토리아 비터가 판매율 1위인데 반해 XXXX는 만년 2위를 차지하고 있다고 한다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/victoria.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">빅토리아 비터(Victoria Bitter)</h4>
            <p class="beer__text--alchol">도수 : 4.8%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">본 제품의 상표이자 빅토리아 비터의 약자인 VB라는 이름으로도 널리 알려져 있다. 오스트레일리아 판매량 1위의 맥주로 탄산양이 조금 적고 씁쓸한 첫맛과 개운한 뒷맛으로 유명하다. 신기하게도 병따개 없이도 병뚜껑을 돌려서 딸 수 있다.</p>
        </div>
    </div>
</div>