<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/estrella.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">에스트레야 담 바르셀로나(Estrella Damm Barcelona)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/mahou.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">마오우 씽코 에스트레야스(Mahou Cinco Estrellas)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : 각</p>
        </div>
    </div>
</div>