<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/budwei.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">버드와이저(Budweiser)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">미국을 대표하는 맥주로, 매년 미국에서 판매량 1위를 놓치지 않는 앤하이저부시의 대표적인 상품이다.  'King of Beers(맥주의 왕)'이라는 슬로건으로 마케팅하는 것으로 유명한 아메리칸 라거이다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/rolling.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">롤링락(Rolling Rock)</h4>
            <p class="beer__text--alchol">도수 : 4.5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">색이 밝고 효모향이 적은 대신 보리향이 강한 것이 특징이다. 물론 도수도 높은 편이 아니라 이 때문에 맹맹하고 청량감이 강해 맥주라기보단 탄산음료를 마시는 느낌이 드는 맥주다. 쓴 맛이 거의 없으며 한국 맥주를 좋아한다면 버드와이저나 이 맥주를 마시면 된다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/goose.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">구스 아일랜드 IPA(Goose Island IPA)</h4>
            <p class="beer__text--alchol">도수 : 5.9%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">진한 홉향을 느낄 수 있으며 상큼한 과일 향과 오렌지 느낌(시트러스 계열)이 입에서 달콤한 맛과 함께 잘 어우러져 마시기 편한 IPA 맥주이다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/miller.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">밀러(Miller)</h4>
            <p class="beer__text--alchol">도수 : 4.5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">원료에 옥수수를 첨가한 미국산 맥주. 특유의 부드러운 느낌으로 대형 할인매장에서 가장 잘 팔리는 수입 맥주 중 하나이다. 미국 전체 판매량은 버드와이저(1위)를 뒤이어 2위. 밀러 드래프트라고 해서 생 맥주도 판매 중이며, 병 맥주와는 다르게 달달한 맛이 난다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/bluemoon.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">블루 문(Blue Moon)</h4>
            <p class="beer__text--alchol">도수 : 4%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">밀러쿠어스 산하 Blue Moon Brewing Co.에서 제조하는 벨기에식 밀맥주. 고수(코리앤더)와 오렌지 껍질이 첨가되어 특유의 향이 특징이다. 캔이나 병 버전은 오렌지를 같이 판매하는 가게에서만 취급이 가능하도록 하는 철칙을 고수하고 있다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/traditional.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">트레디셔널 라거(Traditional Lager)</h4>
            <p class="beer__text--alchol">도수 : 4.1%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">여러 맥주가 있지만 라거 맥주가 제일 유명하고 판매량도 회사매출의 80프로가 넘어가는 주력상품이다. 라거 맥주임에도 어두운 노란색을 띄고 있으며 쌉쌀한 맛을 낸다. 라거의 청량감과 홉맛을 잘 살린 편임에도 가격이 한병에 $1이 좀 안할 정도로 저렴해서, 좋은 라거를 먹고 싶지만 돈은 별로 없을 때 가장 추천할만한 맥주이다. 버락 오바마가 가장 좋아한다는 맥주이기도 하다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/samuel.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">새뮤얼 애덤스(Samuel Adams)</h4>
            <p class="beer__text--alchol">도수 : 4.8%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">미국의 맥주회사 보스턴 비어 컴퍼니가 제조 및 판매하는 맥주 브랜드이다. 제품 이름은 미국 건국의 아버지인 새뮤얼 애덤스를 기리기 위해 따왔다. 사뮤엘 아담스 양조장은 미국 매사추세츠주 보스턴에 있으며 방문객들이 공장 투어와 맥주 및 관련 상품에 대한 쇼핑이 가능하다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/sierra.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">시에라 네바다 페일 에일(Sierra Nevada Pale Ale)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">프리미엄 몰트와 전체 캐스케이드 홉을 사용하여 풍미와 복합성을 갖춘 미디엄 바디의 맥주입니다. 밝고 약간 달콤한 몰트 바디와 균형 잡힌 밝고 꽃향이 나는 시트러스 향을 가지고 있습니다. 아로마는 "시에라 네바다 스타일"로 알려진 크고 향긋합니다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/fat.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">팻 타이어(Fat Tire)</h4>
            <p class="beer__text--alchol">도수 : 5.2%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">맥주 이름의 유래가 재밌다. 회사의 공동창업자인 Jeff Lebesch가 유럽의 맥주로 유명한 지역을 바퀴가 뚱뚱한 자전거로 여행을 한 것을 기리기 위해 팻 타이어(Fat Tire)라고 이름 지었다.
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/hophead.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">홉 헤드 레드(Hop Head Red)</h4>
            <p class="beer__text--alchol">도수 : 7.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">레드 인디아 페일 에일(Red IPA)을 표방하고 있는 맥주로, 특유의 붉은 색이 인상적이다. 홉의 향(시트러스와 솔 향)이 아주 폭발적이며, 씁쓸한 맛이 진하고 오래 남는다. 이쪽은 웨스트코스트 IPA보다도 더욱 도전하기 힘든 맥주이지만, 취향이 맞다면 없어서 못 찾을 정도로 매력적인 맥주이다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/doublestout.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">더블 스타우트(Double Stout)</h4>
            <p class="beer__text--alchol">도수 : 8.8%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">블랙 에일(Black Ale)이라 표기되어 있으나 러시아식 임페리얼 스타우트에 가깝다. 홉의 씁쓸함과는 다른 스타우트 특유의 탄맛같은 씁쓸함이 남으며, 약간 탄 커피나 초콜릿 향이 느껴지고 은근히 달다. 높은 도수 탓에 어느정도의 알코올 향도 느껴진다. 정석같으면서도 약간은 특이한 스타우트.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/lagunitas.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">라구니타스 IPA(Lagunitas IPA)</h4>
            <p class="beer__text--alchol">도수 : 6.2%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">1995년부터 생산해 지금도 생산중인 라구니타스의 주력 제품. 미국 서부 웨스트 코스트 IPA의 표준 규격 취급을 받는 IPA로 카라멜 몰트를 베이스로 캐스케이드 종 홉에서 나타난 솔향, 시트러스향이 훌륭하게 배어오는 인상적인 IPA. 51.5의 IBU로 쓴맛이 강하지만 그래도 IPA중에서는 보통 수준.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/brooklyn.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">브루클린 브루어리(Brooklyn Brewery)</h4>
            <p class="beer__text--alchol">도수 : 5.6%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">이름 그대로 뉴욕 브루클린의 크래프트 양조장이다. 국내 수입되는 것은 라거, 브라운 에일, IPA이며 병당 5~6천원 전후로 비싼 편.
            </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/stroh.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">스트로우즈(Stroh's)</h4>
            <p class="beer__text--alchol">도수 : 4.5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">디트로이트 기반의 미국 맥주다. 80년대(!)쯤 옛날 한국의 엠 아시아라는 무역회사(?)가 해당 맥주를 수입한 적이 있는데 당시 광고에 '열가공 맥주'등의 특징을 홍보하였다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/lostcoast.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">인디카 IPA (Indica IPA)</h4>
            <p class="beer__text--alchol">도수 : 6.5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">한국에서 많은 사람들이 IPA에 눈을 뜨기 시작하게 해준 맥주 제조사로서, 개성 넘치는 일러스트가 그려져 있는 맥주병 라벨이 눈길을 끌며, 인디카 외에 탠저린 위트 에일, 샤키네이터, 에잇 볼 스타우트 등 많은 맥주들이 유명하다. 1990년도 캘리포니아의 유레카에 있는 양조장에서 시작되었으며, 특이하게도 설립자와 소유자가 여성이기도 하다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/guam.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">괌(Guam)</h4>
            <p class="beer__text--alchol">도수 : 5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">남태평양 미국 해외령 괌에서 생산하고 있는 맥주이다.</p>
        </div>
    </div>
</div>