<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/carlsberg.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">칼스버그(Carlsberg)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor"> 덴마크의 라거 맥주로서는 최초로 양조되었다. 진하거나 쓴맛이 강한 맥주가 싫은 사람들에게는 좋은 선택이 될 수 있다. 칭따오나 밀러 라이트와 같이 산뜻한 편.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/faxe.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">팍세(Faxe)</h4>
            <p class="beer__text--alchol">도수 : 4.6%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">맥주 라벨에 우직한 바이킹 남성의 얼굴이 그려져 있는데 이 때문인지 다른 맥주 제품들과 달리 라벨 디자인에서 마초 느낌이 난다는 평도 있다.</p>
        </div>
    </div>
</div>