<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/ozujsko.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">오쥬스코(Ozujsko)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">크로아티아 현지에서 카를로바츠코와 함께 자국 맥주 시장 1, 2위를 놓고 경쟁하고 있으며 크로아티아 등 구 유고권 국가들을 여행 갔던 사람들 사이에서도 이 맥주를 마셔보았다는 이야기들이 있다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/karlovacko.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">카를로바츠코(Karlovacko)</h4>
            <p class="beer__text--alchol">도수 : 5.2%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">이 맥주는 라거 애호가를 위한 환상적인 맥주이다. 매우 깨끗하고 신선하며 상쾌합니다. 환상적인 세션 맥주를 만들기에 충분할 정도로 훌륭하게 균형이 잡혀 있고 약간 쓴맛과 맥아가 있습니다.</p>
        </div>
    </div>
</div>