<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/taiwan.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">대만맥주(Taiwan Beer, 台湾啤酒)</h4>
            <p class="beer__text--alchol">도수 : 4.5%</p>
            <button class="clickinfo">정보</button>
            <p class="beer__text--infor">일반판 뿐 아니라 프리미엄 판과 과일,벌꿀 맛이 있어 종류가 꽤 많다. 한국에서는 홈플러스, 세븐일레븐에서 수입 판매 중이다. 홈플러스의 경우 파인애플맛, 복숭아맛, 망고맛, 벌꿀맛 맥주가 판매 중이다. 다만, 홈플러스에서 일반판 맥주는 찾기 어려울 수 있다.</p>
        </div>
    </div>
</div>