<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/baltika.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">발티카(Baltika) 엑스포르트노예</h4>
            <p class="beer__text--alchol">도수 : 5.4%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">독일식 엑스포트 맥주. 페일 라거와 비슷하게 보이지만, 여느 엑스포트 계열 맥주가 그렇듯이 맛이 좀 더 부드럽고 알코올 도수도 5.4도로 좀 더 높다. 설탕이 들어 있어서 사람에 따라서는 좀 달달한 맛이 느껴진다는 평도 있다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/zolotaya.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">졸로타야 보치카(Золотоя Бочка Zolotaya Bochka)</h4>
            <p class="beer__text--alchol">도수 : 5.2%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">러시아에선 발티카와 더불어 러시아 맥주의 양대 시장을 구성하고 있지만, 국내에서는 발티카보다는 인지도가 낮다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/nevskoe.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">넵스코예(Nevskoe) 페일</h4>
            <p class="beer__text--alchol">도수 : 4.6%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">발티카 사에서 생산하고 있는 맥주이다.</p>
        </div>
    </div>
</div>