<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/pripps.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">프립스 블라(Pripps Bla)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">라거 계열의 맥주이며 스웨덴의 호텔이나 식당, 슈퍼마켓 등지에서 대부분 판매하고 있을 정도로 스웨덴에서 시장 점유율이 가장 높은 맥주이다. 맥주 상표 표지에 하얀색 범선이 그려져 있는 것이 이 맥주의 특징.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/ikea.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">이케아(IKEA) 욀 유스 라게르</h4>
            <p class="beer__text--alchol">도수 : 4.7%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">스웨덴의 유명 기업인 이케아 사와 스웨덴의 맥주 회사 크롤라인 브리거 사와 합작으로 만드는 맥주로, 일반 라거 맥주이다.</p>
        </div>
    </div>
</div>