<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/newcastle.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">뉴캐슬 브라운 에일(Newcastle Brown Ale)</h4>
            <p class="beer__text--alchol">도수 : 4.7%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">영국의 펍에서 상당히 인기가 있으며 생맥주로도 파는 듯. 전체적으로 깔끔한 맛이며, 쓴 맛이 억제된 고소한 맛이 난다. 병의 로고나 디자인이 굉장히 투박하게 생겼다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/hobgob.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">풀러스 런던 프라이드(Fuller's London Pride)</h4>
            <p class="beer__text--alchol">도수 : 4.1%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">페일 에일이다. 그나마 우리나라에서 접할 수 있는 몇 안되는 잉글리시 에일인 만큼 맥주 애호가라면 꼭 한번 마셔보자. 일반적인 라거보다 향이 풍부하고 진하며, 탄산이 덜하다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/corvus.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">코버스 스타우트(Corvus Stout)</h4>
            <p class="beer__text--alchol">도수 : 4.1%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">영국의 흑맥주. 스타우트 계열의 흑맥주로 프랑스 다음으로 영국과 사이가 나쁜 이웃나라 아일랜드 흑맥주 기네스와 양조 방식이 비슷하다. 맥주 라벨 표지에 검은색 까마귀가 그려져 있다.</p>
        </div>
    </div>
</div>