<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/peroni.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">페로니(Peroni)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/birra.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">비라 모레티(Birra Moretti)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : 각</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/forst.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">포르스트(Forst)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>