<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/tsingtao.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">칭타오 맥주(青岛啤酒, Tsingtao)</h4>
            <p class="beer__text--alchol">도수 : 4.7%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">중국의 유명한 맥주로 씁쓸한 맛이 적고 달싹하면서도 시원한 청량감을 주는 맛이 일품이다. 실제 칭다오 사람들은 양꼬치보다 바지락을 최고의 안주로 친다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/harbin.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">하얼빈 맥주(哈尔滨啤酒, Harbin)</h4>
            <p class="beer__text--alchol">도수 : 4.8%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">중국 최초의 맥주. 칭타오보다는 맥아향이 적고 구수한 느낌이 나며, 탄산이 강해서 짜릿한 맛이 있다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/snow.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">설화 맥주(雪花啤酒, Snow)</h4>
            <p class="beer__text--alchol">도수 : 5.5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">메이커의 이름과 매치되는 순하고 깨끗한 맛이 특징으로, 칭타오에 비해 톡 쏘는 맛이 있고 탄산이 많아서 미국 맥주인 밀러와 비슷한 느낌을 가지고 있다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/yanjing.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">옌징(燕京啤酒, Yanjing)</h4>
            <p class="beer__text--alchol">도수 : 4.5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">해외에서는 칭따오, 국내에서는 옌징이라고 불릴 정도로 인지도가 높다. 칭타오와 비슷하지만 좀더 부드러워서 부담없이 무난하게 마실 수 있는 맛이지만, 맥주 본연의 향은 충실하게 가지고 있다.</p>
        </div>
    </div>
</div>