<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/budwei.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">버드와이저(Budweiser)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/rolling.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">롤링락(Rolling Rock)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : 각</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/goose.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">구스 아일랜드(Goose Island)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/miller.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">밀러(Miller)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/bluemoon.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">블루 문(Blue Moon)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/traditional.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">트레디셔널 라거(Traditional Lager)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/samuel.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">새뮤얼 애덤스(Samuel Adams)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/sierra.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">시에라 네바다 페일 에일(Sierra Nevada Pale Ale)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/fat.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">팻 타이어(Fat Tire)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/westcoast.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">웨스트 코스트 인디아 페일 에일(West Coast IPA)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/hophead.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">홉 헤드 레드(Hop Head Red)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/doublestout.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">더블 스타우트(Double Stout)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/lagunitas.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">라구니타스 IPA(Lagunitas IPA)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/brooklyn.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">브루클린 브루어리(Brooklyn Brewery)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/stroh.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">스트로우즈(Stroh's)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/lostcoast.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">로스트 코스트(Lost Coast)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/guam.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">괌(Guam)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>