<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/superbock.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">수페르복(Super Bock) 오리지널</h4>
            <p class="beer__text--alchol">도수 : 5.2%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor"> 포르투갈에서 시장 판매 점유율 1위를 차지하는 맥주로, 모국인 포르투갈을 비롯해 모잠비크나 앙골라, 브라질 등 과거 포르투갈의 식민지였던 포르투갈어권 국가들에서도 수출이 되고 있다. 포어권 국가는 아니지만 대한민국에서도 수입, 유통되고 있으며 CU 일부 지점의 수입맥주 코너에서 찾아볼 수 있다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/sagres.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">사그레쉬(Sagres)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">수페르복과 함께 포르투갈 맥주 시장을 양분하고 있지만, 현지에서는 수페르복에 비해 판매량이 다소 뒤쳐지는 편이다. 포르투갈 국가대표팀의 스폰서이다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/cintra.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">신트라(CINTRA)</h4>
            <p class="beer__text--alchol">도수 : 5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor"> 국내에서는 홈플러스에서 시판되고 있는데, 맥주가 아닌 기타 주류로 분류되어 있으며 330cc 한 캔에 천 원에 판매되고 있다. 대략 미국식 부가물 라거와 맛이 유사하다는 평이 있다.</p>
        </div>
    </div>
</div>