<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/ringnes.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">링그네스 필스너(Ringnes Pilsner)</h4>
            <p class="beer__text--alchol">도수 : 4.3%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">노르웨이에서 가장 대표적인 국민 맥주로 맛은 대체적으로 씁쓸하지만 노르웨이 등 북유럽 국가들을 여행을 갔던 사람들에게는 잊을 수 없는 맥주라는 평가도 있다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/hansa.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">한자 필스너(HANSA Pilsner)</h4>
            <p class="beer__text--alchol">도수 : 4.5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">최고급 Saaz 홉을 사용하여 진정한 필스너 스타일로 양조됩니다. 체코에서 특별히 수입된 이 홉은 Hansa의 독특한 홉피 향의 원인이 된다. 같은 자국 맥주인 링그네스와 자국 맥주 시장의 라이벌 구도를 형성하고 있다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/konrads.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">콘라드 스타우트(Konrads Stout)</h4>
            <p class="beer__text--alchol">도수 : 10.4%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">스타우트 계열의 흑맥주이며 나름 부드러우면서 단 맛이 나는게 특징</p>
        </div>
    </div>
</div>