<div class="beer__item">
    <img class="beer__img" src="/static/img/hiteextracold.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">홉 고블린(HOBGOBdivN)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/max.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">바스(Bass)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : 각</p>
        </div>
    </div>
</div>