<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/kirin.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">기린 라거 비어(キリンラガービール)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/asahi.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">아사히 슈퍼 드라이(アサヒスーパードライ, Asahi Super dry)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : 각</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/dryblack.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">아사히 슈퍼 드라이 블랙(アサヒパードライ ドライブラック, Asahi Super dry black)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/suntory.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">산토리 프리미엄 몰츠(Suntory the Premium Malts)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/sapporo.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">삿포로(サッポロビール, Sapporo)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/yebisu.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">에비스(ヱビスビール, Yebisu)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>