<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/stella.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">스텔라 아르투아(Stella Artois)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/hoegaarden.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">호가든(Hoegaarden)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : 각</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/leffe.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">레페(Leffe)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/duvel.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">듀벨(Duvel)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/jupiler.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">주필러(Jupiler)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/blanche de.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">블랑슈 드 브뤼셀(Blanche De Bruxelles)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>