<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/karhu.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">카르후(KARHU)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/lapinkulta.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">라핀 쿨타(Lapin Kulta)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : 각</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/olvi.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">올비(Olvi)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>