<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/becks.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">벡스(Beck's)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/paul.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">파울라너(Paulaner)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : 각</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/weihen.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">바이엔슈테판(Weihenstephan)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/oetting.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">외팅어(Oettinger)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/erding.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">에어딩어(erdinger)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/kromba.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">크롬바허(Krombacher)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/warstein.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">바슈타이너(Warsteiner)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/lowen.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">뢰벤브로이(Löwenbräu)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/dab.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">답(DAB)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/diebels.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">디벨스 알트(Diebels Alt)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/bitbur.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">비트부어거(Bitburger)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/schine.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">슈나이더(Schineider)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/schmu.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">슈무커(Schmucker)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
       