<div class="beer__item">
    <img class="beer__img" src="/static/img/hiteextracold.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">발티카(Baltika)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/max.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">졸로타야 보치카(Золотоя Бочка Zolotaya Bochka)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : 각</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/dryd.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">넵스코예(Nevskoe)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>