<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/mythos.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">미토스(Mythos)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">라거 계열의 맥주이며 쌉싸릅하면서도 절제되어 있어 맛있게 즐길만한 맥주라는 평이다. 그리스 국민들에게 있어서는 국민 맥주급의 대접을 받는 맥주이다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/alfa.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">알파(ALFA)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">현재 그리스 맥주 시장을 놓고 미토스 맥주, 픽스 맥주와 경쟁하고 있다. 거품이 풍부하고 마시기 쉬운 블론드 라이트 라거, 시원한 갈증 해소제 입니다. 부드러운 맥아와 효모 향이 있습니다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/fix.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">픽스 헬라스(Fix HELLAS)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">미토스, 알파와 더불어 그리스 맥주시장을 대표하는 오랜 역사를 지닌 프리미엄 라거맥주 입니다. 부드러우면서도 풍부한 맛으로 인해 여러 상을 수상했습니다. 뒷맛이 약간 씁쓸하여 독특한 맥주입니다.</p>
        </div>
    </div>
</div>