<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/guinness.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">기네스 드래프트(Guinness Draught)</h4>
            <p class="beer__text--alchol">도수 : 4.2%</p>
            <button class="beer__text--infor clickinfo">정보</button>
            <p class="beer__text--infor">아일랜드 맥주하면 가장 먼저 떠오르는 맥주이자 세계에서 가장 유명한 흑맥주 중 하나.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/hophouse.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">홉 하우스 13 라거(Hop House 13 Lager)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="beer__text--infor clickinfo">정보</button>
            <p class="beer__text--infor">볶은 보리가 들어가 쌉싸름한 맛에 살구 향과 복숭아 향이 살짝 나는 것이 대표적인 맥주이다. 배우 하석진이 개인 유튜브에서 추천하는 라거로 언급이 되었다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/kilkenny.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">킬케니 아이리시 크림 에일(Kilkenny Irish Cream Ale)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <button class="beer__text--infor clickinfo">정보</button>
            <p class="beer__text--infor"></p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/harp.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">하프(Harp)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <button class="beer__text--infor clickinfo">정보</button>
            <p class="beer__text--infor"></p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/murphys.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">머피스(murphys)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <button class="beer__text--infor clickinfo">정보</button>
            <p class="beer__text--infor"></p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/beamish.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">비미쉬(Beamish)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <button class="beer__text--infor clickinfo">정보</button>
            <p class="beer__text--infor"></p>
        </div>
    </div>
</div>