<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/corona.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">코로나(Corona)</h4>
            <p class="beer__text--alchol">도수 : 4.6%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">멕시코의 맥주 브랜드들중 세계적으로 가장 유명한 맥주로 레몬이나 라임을 맥주병 입구에 넣어서 마시는 것으로 널리 알려져 있다. 맛이나 목넘김은 한국 맥주와 비슷하나 독특한 뒷맛이 특징이다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/sol.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">솔(Sol)</h4>
            <p class="beer__text--alchol">도수 : 4.5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">스페인어로 태양이라는 뜻이다. 도수가 4.5%밖에 되지 않으나, 상당히 뒷맛이 깔끔한 편이다. 멕시코 현지에서는 코로나보다 유명하다.(라고한다)</p>
        </div>
    </div>
</div>