<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/stella.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">스텔라 아르투아(Stella Artois)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">1926년부터 생산된 벨기에의 대표 필스너 라거 맥주. 독일이나 체코의 필스너와 달리 약간 드라이하고 쌉쌀하면서도 청량한 산미가 있는 것이 특징이다. 한국에서는 OB맥주에서 수입 판매하고 있다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/hoegaarden.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">호가든(Hoegaarden)</h4>
            <p class="beer__text--alchol">도수 : 4.9%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">색은 밝고 희끄무레하다. 다른 밀맥들이 탁하고 뿌옇게 진한 색을 띠는 것과는 대조된다. 깔끔하면서도 맛이 상당히 가볍다. 구수한 곡물맛, 호프의 쓴맛, 탄산의 톡쏘는 맛이 전반적으로 약한 편.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/leffe.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">레페 블론드(Leffe BLONDE)</h4>
            <p class="beer__text--alchol">도수 : 6.6%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">벨기에 남부 레페 수도원에서 1152년부터 제조된 유구한 역사를 가진 맥주로, 다른 맥주에 비해 맛이 달고 도수가 약간 높은 편이다. 레페 블론드는 밝은 색감과 굉장한 인기때문에 라거로 착각되는 경우가 많은데 엄연히 에일이다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/duvel.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">듀벨(Duvel)</h4>
            <p class="beer__text--alchol">도수 : 8.5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">스트롱 골든 에일. 원어로는 두블에 가깝게 발음한다. 처음 먹어봤을 때 악마의 맥주라고 불릴 만큼 맛있어서 이름을 이렇게 지었다고 한다. 맛은 새콤달콤하고 첫 향은 과일 향이 난다. 알코올 도수가 높은 편이나 알코올향이 강하게 느껴지진 않는다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/jupiler.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">주필러(Jupiler)</h4>
            <p class="beer__text--alchol">도수 : 5.2%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">벨기에 특유의 수도원 형식의 맥주가 아닌 필스너 계열 라거로 분류되는 맥주로, 점유율과 판매량에 비해 수출량과 인지도는 터무니없이 낮아 한국에서는 그 존재조차 모르는 사람들이 많다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/blanche de.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">블랑슈 드 브뤼셀(Blanche De Bruxelles)</h4>
            <p class="beer__text--alchol">도수 : 4.5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">밀맥주로 벨기에의 대표적인 화이트비어 중 하나로 꼽힌다. 중앙에 그려진 오줌싸개 동상 심볼을 이용한 재치있는 마케팅 덕에 맥주만큼이나 맥주 라벨과 잔도 인기가 많다.</p>
        </div>
    </div>
</div>