<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/karhu.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">카르후 A(KARHU A)</h4>
            <p class="beer__text--alchol">도수 : 5.3%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">카르후는 핀란드어로 곰을 뜻하는데 공교롭게도 맥주 표지에도 곰 얼굴이 그려져 있다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/lapinkulta.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">라핀 쿨타(Lapin Kulta)</h4>
            <p class="beer__text--alchol">도수 : 5.2%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">깔끔하고 담백한 라거의 맛으로 가벼우면서도 청량감을 주고, 무게감 있는 구수함과 단맛을 가지고 있다.</p>
        </div>
    </div>
</div>