<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/guinness.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">기네스(Guinness)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/hophouse.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">홉 하우스 13 라거(Hop House 13 Lager)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : 각</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/kilkenny.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">킬케니 아이리시 크림 에일(Kilkenny Irish Cream Ale)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/harp.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">하프(Harp)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/murphys.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">머피스(murphys)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/beamish.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">비미쉬(Beamish)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>