<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/sibori.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">기린 이치방 시보리</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">기린맥주의 간판 제품. 필스너 공법으로 제조되는 프리미엄 브랜드로, 오리지널 필스너인 필스너 우르켈과 비교하면 보리의 향이 더 강조되어 일반 라거와 필스너의 중간에 있는 느낌</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/kirin.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">기린 라거 비어</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">기린맥주에서 최초로 생산한 맥주. 국내에는 수입되지 않고 있으며, 가을이 되면 캔에 단풍무늬가 그려진 한정판이 나온다. 위의 기린 이치방과 다르게 옥수수, 쌀 등이 들어가는 아메리칸 라거 스타일의 맥주이다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/asahi.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">아사히 슈퍼 드라이(Asahi Super dry)</h4>
            <p class="beer__text--alchol">도수 : 5.2%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">"Super dry"를 내세우며 일본 열도에 드라이 맥주 열풍을 불러온 맥주다. 맛이 상당히 약하고 신맛이 난다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/dryblack.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">아사히 슈퍼 드라이 블랙(Asahi Super dry black)</h4>
            <p class="beer__text--alchol">도수 : 5.5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">아사히에서 나오는 흑맥주. 수퍼드라이 맥주에 흑맥주 맥아를 혼합하였다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/suntory.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">산토리 프리미엄 몰츠(Suntory the Premium Malts)</h4>
            <p class="beer__text--alchol">도수 : 5.5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">산토리의 맥주는 꽤 여러 종이 나와있으나 국내에는 '더 프리미엄 몰츠만 수입된다.기본적으로 필스너 계열 맥주로 홉 향이 매우 진하고 쓴 맛이 강조되어 있으며, 알코올 도수는 일반적인 맥주보다 살짝 높다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/sapporo.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">삿포로(Sapporo)</h4>
            <p class="beer__text--alchol">도수 : 4.9%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">보통 삿포로 맥주는 아사히와 비슷한 드라이 맥주에 속하며, 원래 레시피에 쌀과 옥수수를 다량 첨가하여 일반적인 필스너에 비해 옅은 맛이다. 부드러운 식감이 일품이다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/yebisu.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">에비스(Yebisu)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">물, 보리, 홉 등 원래의 제조 공법 그대로 생산되는 정통방식 맥주이다. 100% 맥아로 만드는 맥주답게 맛은 진하고 달달하다.</p>
        </div>
    </div>
</div>