<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/garten.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">쉬첸가르텐(Schützengarten)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">스위스 장크트갈렌에서 양조되는 맥주. 1779년부터 양조되기 시작하였으며 현재 영업중인 스위스 내 양조장 중에서는 가장 오래된 양조장이다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/feldschloss.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">펠트슐뢰스헨(Feldschlösschen)</h4>
            <p class="beer__text--alchol">도수 : 4.8%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">스위스 아르가우 주 라인펠트에서 양조되는 맥주. 
            1876년부터 양조되기 시작한 스위스 내 최대 규모의 브랜드이다. 
            같은 이름의 양조장이 독어권 지역에 여러 곳 있으므로, 구입하기 전에 양조장 소재지를 확실히 알아둬야 한다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/rugenbrau.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">루겐브로이 라거(RUGEN BRAU)</h4>
            <p class="beer__text--alchol">도수 : 4.8%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">스위스 베른 주 인터라켄에 소재하고 있는 루겐브로이 양조장에서 생산하고 있는 스위스산 맥주.</p>
        </div>
    </div>
</div>