<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/bosman.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">보스만 풀(Bosman FULL)</h4>
            <p class="beer__text--alchol">도수 : 5.7%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">보스만은 폴란드어로 갑판장이란 뜻. 그래서 심볼이 갑판장이다. 신선하고 약간의 라거 향이난다. 보리 맥아의 정직한 맛이 나고 강한 맛은 아니다..</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/tyskie.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">티스키에(Tyskie)</h4>
            <p class="beer__text--alchol">도수 : 5.2%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">폴란드의 대표맥주중 하나로 자리잡았다. 탄산이 없는 수준은 아니지만 자극적이진 않다.  홉의 은은한 쓴 맛이 느껴진다.</p>
        </div>
    </div>
</div>