<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/heineken.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">하이네켄(Heineken)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">유럽뿐만 아니라 세계적으로 인지도와 판매량에서 최상위 브랜드이다. 증류수와 맥아를 섞은 보리, 효모로만 만들며, 효모는 1886년 것을 지금도 사용중이다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/grolsch.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">그롤쉬(Grolsch)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">다른 라거맥주에 비해 좀더 긴 발효기간을 가진다고 하며, 같은 네덜란드 맥주인 하이네켄과 비슷한 느낌이나 하이네켄보다 독하디 독할 정도로 쓴 맛이 있고 거품이 풍부한 것이 특징. 은근히 매니아층이 형성되어 있는 맥주이다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/desperados.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">데스페라도스(Desperados)</h4>
            <p class="beer__text--alchol">도수 : 5.9%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">하이네켄에서 최초로 시도한 데킬라를 섞은 맥주. '맥주계의 허니버터칩'이라며 나름 공격적인 마케팅을 펼치고 있다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/royaldutch.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">로얄 더치 프리미엄 라거(Royal Dutch Premium Lager)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">네덜란드에서 가장 오래된 맥주이다. 복고적인 라벨 디자인이 특징이다. 라거 홉 맛이 아주 진하고 하이네켄에 비해 톡 쏘는 맛이 있다.</p>
        </div>
    </div>
</div>