<div class="beer__item">
    <img class="beer__img" src="/static/img/hiteextracold.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">대만맥주(Taiwan Beer, 台湾啤酒)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>