<div class="beer__item">
    <a href="https://search.shopping.naver.com/search/all?where=all&frm=NVSCTAB&query=%ED%95%98%EC%9D%B4%ED%8A%B8+%EC%97%91%EC%8A%A4%ED%8A%B8%EB%9D%BC+%EC%BD%9C%EB%93%9C" target="_blank"><img class="beer__img" src="/static/img/beerimg/hiteextracold.jpg"></a>
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">하이트 엑스트라 콜드(hite EXTRA COLD)</h4>
            <p class="beer__text--alchol">도수 : 4.5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">하이트 맥주를 리브랜딩 해서 내놓은 맥주. 舊 하이트 맥주다. 90년대에 만년 2등이었던 맥주 시장에서 1위를 차지하게한 맥주
            </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/max.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">맥스(Max)</h4>
            <p class="beer__text--alchol"style>도수 : 4.5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">원래 "하이트 프라임 맥스"였다가, "맥스"로 리브랜딩된 맥주. 100% 보리맥주로 페일 라거. 국산 맥주 중에 진한 맛이 있는 편이다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/dryd.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">드라이 d</h4>
            <p class="beer__text--alchol">도수 : 4.8%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">1980년대 크라운 슈퍼드라이의 후속작. 고도주와 혼합하여 마시기 좋다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/stout.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">하이트 스타우트(BLACK stout)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">국내 대기업 유일 흑맥주</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/queensale.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">퀸즈 에일(QUEEN'S ALE)</h4>
            <p class="beer__text--alchol">도수 : 5.4%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">국내 대기업 최초 상면발효 맥주. 블론드와 엑스트라 비터맛 두가지가 있다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/terra.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">테라(TERRA)</h4>
            <p class="beer__text--alchol">도수 : 4.6%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">청정라거라는 슬로건을 걸고 호주 골든 트라이앵글 맥아를 100% 사용했다고 한다. 맛은 알콜도수가 낮은만큼 라이트하고 단맛이 강하고 마치 탄산수처럼 깔끔하다. 맛 자체는 강하지 않다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/cass.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">카스(Cass)</h4>
            <p class="beer__text--alchol">도수 : 4.5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">0°C에서 72시간 동안의 까다로운 Cold Brew 과정을 거쳐 탄생한 올 뉴 카스는 맥주 극강의 짜릿함을 더욱 오랫동안 유지시켜 줍니다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/cafri.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">카프리</h4>
            <p class="beer__text--alchol">도수 : 4.2%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">OB맥주에서 1995년 7월 10일에 출시한 국내 최초 투명병 맥주이다. 병뚜껑이 트위스트 캡이라 손으로 돌려서 따야 한다. 병따개로 열어도 따지지만, 유리병 입구 부분이 같이 따져서 손이 베이거나 미세 유리조각 파편에 의하여 다칠 수 있으니 주의하자.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/hanmac.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">한맥(HANMAC)</h4>
            <p class="beer__text--alchol">도수 : 4.6%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">상쾌한 풍미의 코리안 테이스트​ 대한민국 대표라거 한맥 
                100% 국내산 쌀이 주는 부드러운 감칠맛과 담백함이 어우러져 좋은 음식과 함께할 때 그 맛이 배가 됩니다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/kloud.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">클라우드(Kloud)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">2014년 4월 롯데칠성음료 롯데주류에서 출시한 국산 라거 맥주. 소비자들의 평가는 국산 맥주 치곤 괜찮다는 의견이 많다. 국산 맥주 중 홉향이 확실하게 느껴지는 몇 안 되는 맥주다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/fitz.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">피츠 수퍼 클리어(Fitz Super Clear)</h4>
            <p class="beer__text--alchol">도수 : 4.5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">피츠의 의미는 언제 어디서나 누구와 함께해도 부담 없이 즐길 수 있고, 어떤 음식과도 잘 어울리는 맥주라는 의미를 담고 있다.</p>
        </div>
    </div>
</div>