<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/edelweiss.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">에델바이스 바이스비어 스노우프레시(Edelweiss Weißbier Snowfresh)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">밀맥주 특유의 풍부한 맛과 엘더플라워 향에, 알프스 허브가 첨가되어 박하향이 나는것이 특징이다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/egger.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">에거 메르젠(EGGER MÄRZEN)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">가볍게 홉을 가해 발효시킨 전형적인 오스트리아산 라거 맥주입니다. 각종 맥주 대회에서 입상한 마시기 좋은 맥아 맥주. </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/zipfer.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">지퍼(Zipfer)</h4>
            <p class="beer__text--alchol">도수 : 5.4%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">일반적인 맥주병과 달리 주스병처럼 라벨로 뚜껑부분까지 감싸야 있는 것이 특징으로, 뚜껑 부분을 잡고 돌려 딸 수 있게 되어있다. 일반 맥주보다 약간 강하며 유럽 맥주 특유의 진하고 강한 맛이 특징이다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/goser.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">괴서(Gößer)</h4>
            <p class="beer__text--alchol">도수 : 5.2%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">오스트리아에서 가장 유명한 라거 맥주로 오스트리아를 여행했던 여행자들에게는 오스트리아에서 가장 맛있게 먹은 맥주라는 이야기들이 늘상 오간다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/otta.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">오타크링거 헬레스(Ottakringer HELLES)</h4>
            <p class="beer__text--alchol">도수 : 5.2%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor"> 수도 빈에 위치한 양조장에서 생산되고 있으며 밝은 맥주색이 특징이고, 연한 홉의 맛과 풍성한 몰트의 맛을 강조하는 맥주이다. 국내에서도 유통되고 있다.</p>
        </div>
    </div>
</div>