<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/estrella.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">에스트레야 담 바르셀로나(Estrella Damm Barcelona)</h4>
            <p class="beer__text--alchol">도수 : 4.6%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">이름에서 보이듯이 스페인 바르셀로나에서 생산된다. 실제로 FC 바르셀로나와 발렌시아 CF의 공식 스폰서도 겸한다. 맛은 첫맛은 쌉싸름하면서 깔끔하고 달달한 뒷맛이 특징이다. 최근들어 국내 편의점에도 판매하기 시작했다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/mahou.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">마오우 씽코 에스트레야스(Mahou Cinco Estrellas)</h4>
            <p class="beer__text--alchol">도수 : 5.5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">에스트레야 담 바르셀로나와 함께 스페인 맥주 시장을 양분하고 있는 스페인 맥주. 맛은 시큼하면서 쌉싸름한 편이다.</p>
        </div>
    </div>
</div>