<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/bronenbourg.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">크로낭부르 1664 라거(Kronenbourg 1664 Lager)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">프랑스 맥주 점유율 40%를 차지하고 있는 프랑스 대표 맥주 브랜드이다. 라거는 옥수수가 첨가된 평이한 맛. 쉽게 말하자면 일반 유럽산 라거들 중에 달달한 맛이라고 설명할 수 있다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/kronenblanc.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">크로낭부르 1664 블랑(Kronenbourg 1664 Blanc)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">밀맥주로 특이하게도 병이 파란색이다. 병도 예쁘고, 새콤달콤한 과일향으로 가볍게 즐길 수 있다. 다만 특유의 향이 지독하다고 느끼는 이들에게는 호불호가 강하게 갈리는 편이다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/lagoudale.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">라 구달(La Goudale)</h4>
            <p class="beer__text--alchol">도수 : 7.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">최신 기계 공법을 거치지 않고 수제 전통 양조 방식 그대로 만드는 유서 깊은 맥주이며 알콜 도수가 7%임에도 알콜 맛은 그리 강하지 않다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/licorne.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">리콘 바이오(Licorne Bio)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">100% 유기농의 맥아와 호프로 만들어졌다. 부드러운 맛이 특징이고 가벼우면서 고소하다. 가볍게 마시기 좋은 맥주이다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/blanche.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">1866 블랑쉬(1866 Blanche)</h4>
            <p class="beer__text--alchol">도수 : 4.5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor"> 밀맥주로, 탁한 노란색을 띄고 밀 특유의 부드러운 질감과 향신료의 알싸한 맛이 어우러진다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/1866blonde.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">1866 블론드(1866 Blonde)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">라거맥주로, 빛나는 블론드색을 띄고 곡물의 맛과 습쓸한 맛이 어우러진다.</p>
        </div>
    </div>
</div>