<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/egpstella.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">스텔라(Stella)</h4>
            <p class="beer__text--alchol">도수 : 4.5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">이집트 역시 고대 이집트 시대부터 맥주를 만들어 마셨을 정도로 맥주와는 오랜 역사가 있는 나라이다. 깨끗하고 신선한 뒷맛이 특징인 Stella는 모든 경우에 간단하게 상쾌하고 마시기 쉬운 맥주입니다. </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/sakara.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">사카라 골드(Sakara Gold)</h4>
            <p class="beer__text--alchol">도수 : 4.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">세련된 맥주를 좋아하는 사람들을 위한 유럽풍의 프리미엄 품질의 이집트 맥주입니다. 가볍고 상쾌한 성질과 낮은 알코올 도수(4%)로 인해 마시기 쉽고 더운 기후에 적합합니다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/sphinx.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">스핑크스(Sphinx)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">스핑크스라는 이름을 붙인 맥주답게 맥주 표지에 스핑크스가 그려져 있다.</p>
        </div>
    </div>
</div>