<div class="beer__item">
    <img class="beer__img" src="/static/img/hiteextracold.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">에델바이스 바이스비어 스노우프레시(Edelweiss Weißbier Snowfresh)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/max.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">에거(Egger)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : 각</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/dryd.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">지퍼(Zipfer)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/stout.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">괴서(Gößer)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/queensale.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">오타크링거(Ottakringer)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>