<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/viking.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">바이킹(Viking)</h4>
            <p class="beer__text--alchol">도수 : 5.6%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">단순한 골든 라거 맥주입니다. 고소하면서 씁쓸한 맛이 특징이다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/thule.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">툴레(Thule)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">맥주 표지에 아이슬란드의 섬 지도가 그려져 있다.
            </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/gull.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">걸(GULL)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">전통적이고 깔끔한 라거 경험을 제공합니다. 입 안의 거친 향과 신선한 레몬 홉. 필스너 맥아, 현지에서 재배한 보리, 순수한 아이슬란드 물을 사용해 뮌헨 라거 스타일로 양조합니다.</p>
        </div>
    </div>
</div>