<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/hiteextracold.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">크로낭부르 1664(Kronenbourg 1664)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/max.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">라 구달(La Goudale)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : 각</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/dryd.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">리콘(Licorne)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/stout.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">1866 블랑쉬(1866 Blanche)</h4>
            <p class="beer__text--alchol">도수 : </p>
            <p class="beer__text--infor">정보 : </p>
        </div>
    </div>
</div>