<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/kingfisher.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">킹피셔(Kingfisher)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">인도 맥주. 인도 내 국민 맥주로 높은 판매율을 자랑하고 있으며, 국내에서도 인도 요리 전문 식당 등지에서도 판매하고 있다. 맛이 매우 강하고 알콜향이 진하게 나서 도수가 높은거 같은데 도수는 일반적인 맥주들과 같은 5%이다. 제조 과정에서 쌀과 옥수수등을 첨가하는데 이 때문인지 단 맛도 조금 난다. 맥주명인 킹피셔는 영어로 물총새를 뜻하는데 맥주 상표 표지에도 날개짓을 하는 물총새가 그려져 있다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/lion.jpg">
    <div class="beer__info">
        <div class="beer__text">    
            <h4 class="beer__text--title">라이온(Lion) 스타우트</h4>
            <p class="beer__text--alchol">도수 : 8.8%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">스리랑카 맥주. 라이온 양조장에서 양조하고 있다. 이 양조장에서  스리랑카 내 칼스버그의 위탁생산도 실시하고 있다. 라이온 스타우트는 비어 헌터로 유명한 영국의 맥주 평론가 마이클 잭슨(미국 가수 마이클 잭슨과는 동명이인)이 스리랑카 여행 도중 우연히 마시게 된 뒤 극찬을 하여 몇 년 뒤 스리랑카에 방문하여 다시 라이온 스타우트를 마시러 올 정도로 평가가 좋은 스타우트이다. 여러 맥주평가사이트 내 스타우트 계열 중 항상 상위권을 유지하고 있는 스타우트이며, 라이온 스타우트 병맥주의 뒷편에는 마이클 잭슨의 사진을 부착하여 이 사실을 강조하고 있다. 웬만한 유럽이나 미국의 스타우트보다 훨씬 더 깊고 진한 풍미를 보여주고 있으며, 가격도 유럽권이나 미국의 맥주에 비해 매우 저렴하여 매니아들 사이에서도 호평을 받고 있다. 여담으로 맥주 이름도 사자의 영어명인 라이온을 사용했고 맥주 상표에도 사자가 그려져 있지만, 실제 스리랑카에서 사자는 자생하지 않는 동물이다.</p>
        </div>
    </div>
</div>