<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/pilsner.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">필스너 우르켈(Pilsner Urquell)</h4>
            <p class="beer__text--alchol">도수 : 4.4%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">필스너 본연의 잘 조화된 보리맛과 엄선된 특별한 홉의 매력적인 쓴맛과 복잡한 향이 특징이다. 황금빛의 페일 라거의 원형이 되는 맥주로, 라거의 대중적인 성공의 시작을 알렸다고 평가받는다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/kozel.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">코젤 다크(Kozel Dark)</h4>
            <p class="beer__text--alchol">도수 : 3.8%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">설탕이 들어가서 캬라멜의 향과 맛이 뚜렷하게 느껴지며 맥주중에서는 달콤한 맛이다. 달콤한 맛 덕분에 안주가 없어도 큰 거부감없이 마실수있다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/staropramen.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">스타로프라멘(Staropramen)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">프라하에서 양조되는 맥주. 필스너 우르켈, 부드바르와 함께 체코 3대 필스너로 꼽히는 맥주. 체코의 라거답게 묵직하고 쌉싸름하다가도 깔끔한 뒷맛이 일품이다.</p>
        </div>
    </div>
</div>