<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/bintang.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">빈땅(Bintang)</h4>
            <p class="beer__text--alchol">도수 : 4.7%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">인도네시아 맥주. 인도네시아어로 빈땅은 별이란 뜻이다. 기존적으로 빈땅 맥주는 옅은 금색의 라거 맥주 입니다. 기본적으로 필스너 타입의 맥주로 페일라거들 보다는 첫맛에서 오는 강렬함이 인상적인 맥주 입니다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/stark.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">스타크 로우 카브(Stark LOW CARB)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">인도네시아 맥주. 동남아시아 맥주 제품들중에서 몆 안되는 밀맥주로 독일 등 유럽의 밀맥주들보다는 다소 부족한 부분도 있지만 그래도 동남아시아 맥주들중 유일하게 맛있게 먹을수 있는 밀맥주라는 긍정적인 평도 있다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/saigon.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">사이공(SAIGON)</h4>
            <p class="beer__text--alchol">도수 : 4.9%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">베트남 맥주로 베트남 맥주 시장의 50% 이상을 차지하는 맥주 회사인 사베코에서 생산한다. 국내에서는 배트남 음식점에서 구할 수 있다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/hanoi.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">하노이 프리미엄 비어(Ha Noi premium beer)</h4>
            <p class="beer__text--alchol">도수 : 4.9% </p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor"> 베트남의 수도 하노이의 이름을 따서 지어진 베트남 맥주. 사이공과 함께 베트남 맥주 시장을 양분하고 있다. 탄산느낌의 맛은 산뜻하고 전형적인 라거스타일 맥주이다. 깔끔하고 산뜻하면서 약간의쌉싸름한 맛이 감초역할
   </p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/beerlao.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">비어 라오 라거(Beer lao Lager)</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor"> 라오스 맥주. 맛은 꽤 부드러운 맛이 난다. 라오스의 싱싱한 쌀이 들어가 있어서 약간 더 구수한 느낌이 난다.</p>
        </div>
    </div>
</div>