<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/taedong.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">대동강맥주(Taedonggang)</h4>
            <p class="beer__text--alchol">도수 : 5.5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">재료는 대동강지하수와 천연보리라고 한다.  1번부터 시작해서 여러 번호의 맥주가 있다. 번호마다 다른 도수와 맛을 가지고 있고 부가물 등의 구성이 다르게 되어있는데 이렇게 다양한 스타일의 맥주에 넘버링을 매기는 것은 러시아 맥주 발티카의 영향이다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/ponghak.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">봉학맥주(Ponghak)</h4>
            <p class="beer__text--alchol">도수 : 4.5%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">북한에서 고위 간부 전용으로 제조된 맥주. 북한에서는 4대 맥주 중의 하나이다. 탄산 함유량이 적고, 부드럽게 넘어간다고 한다. 다만 저온 살균을 하지 않기 때문에 장거리 운송이 어렵다고 한다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/ryoungsung.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">룡성맥주</h4>
            <p class="beer__text--alchol">도수 : 5.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">북한의 여러 가지 맥주들 중에 룡성맥주 역사가 가장 오래됐다.</p>
        </div>
    </div>
</div>
<div class="beer__item">
    <img class="beer__img" src="/static/img/beerimg/guemgang.jpg">
    <div class="beer__info">
        <div class="beer__text">
            <h4 class="beer__text--title">금강맥주</h4>
            <p class="beer__text--alchol">도수 : 4.0%</p>
            <button class="clickinfo">정보▼</button>
            <p class="beer__text--infor">라벨에도 보이듯 '시원하고 상쾌한 맛'이다. 보리와 감자를 주원료로 만들었다.</p>
        </div>
    </div>
</div>